<section class="faq">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="ot-heading">
                    <span>// FAQ</span>
                    <h2 class="main-heading">Frequently Asked Questions</h2>
                </div>
                <div class="space-25"></div>
            </div>
        </div>    
        <div class="row">
            <div class="col-lg-12">
                <div class="ot-accordions">
                    <div class="acc-item current">
                        <span class="acc-toggle">What industries can benefit from on-demand app development?
                            <i class="down flaticon-download-arrow"></i><i class="up flaticon-up-arrow"></i>
                        </span>
                        <div class="acc-content active" style="display: block;">
                            <p>On-demand apps are ideal for industries like food delivery, transportation, healthcare,
                                home services, e-commerce, and logistics. We tailor solutions based on your specific
                                sector.</p>
                        </div>
                    </div>
                    <div class="acc-item">
                        <span class="acc-toggle">How long does it take to develop an on-demand app?
                            <i class="down flaticon-download-arrow"></i><i class="up flaticon-up-arrow"></i>
                        </span>
                        <div class="acc-content" style="">
                            <p>The development timeline varies depending on the complexity and features. Typically, it
                                can take anywhere from 8 to 16 weeks, including design, development, and testing.</p>
                        </div>
                    </div>
                    <div class="acc-item">
                        <span class="acc-toggle">Can you integrate payment gateways into the app?
                            <i class="down flaticon-download-arrow"></i><i class="up flaticon-up-arrow"></i>
                        </span>
                        <div class="acc-content" style="">
                            <p>Yes! We integrate secure payment systems like Stripe, PayPal, and other local payment
                                methods for seamless transactions within your app.</p>
                        </div>
                    </div>
                    <div class="acc-item">
                        <span class="acc-toggle">Will the app be available for both iOS and Android users?
                            <i class="down flaticon-download-arrow"></i><i class="up flaticon-up-arrow"></i>
                        </span>
                        <div class="acc-content" style="">
                            <p>We offer both native and cross-platform development options, ensuring your app works
                                seamlessly on both iOS and Android devices.</p>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</section>
