<div class="royal_preloader">
    <div id="page" class="site">

        <div id="content" class="site-content">
            <div class="page-header flex-middle">
                <div class="container">
                    <div class="inner flex-middle">
                        <h1 class="page-title">IT Staffing Services</h1>
                        <ul id="breadcrumbs" class="breadcrumbs none-style">
                            <li><a routerLink="/">Home</a></li>
                            <li class="active">IT Staffing Services</li>
                        </ul>
                    </div>
                </div>
            </div>


            <section class="section-business" id="flexible-engagement-models">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="ot-heading mb-0">
                                <!-- <span> Foundations of IT Staffing Services —</span> -->
                                <h2 class="main-heading"> Flexible Engagement Models</h2>
                            </div>
                        </div>
                        <div class="col-lg-6 align-self-end">
                            <p class="mb-0">Our IT staffing solutions are designed to be flexible and scalable, meeting
                                the dynamic resource needs of modern businesses. We offer three distinct engagement
                                models
                            </p>
                        </div>
                    </div>
                </div>
            </section>

            <section class="section-clent-h2">
                <div class="container">
                    <div class="row mt--290 justify-content-center">
                        <div class="col-lg-4 col-md-6 col-sm-12 mb-4 mb-lg-0">
                            <div class="support-box">
                                <div class="inner-box">
                                    <div class="overlay flex-middle">
                                        <span class="number-box">01</span>
                                        <div class="inner">
                                            <p>We provide highly skilled IT consultants on a contract basis to
                                                supplement your existing teams. This allows you to scale quickly and
                                                meet project demands without long-term commitment.
                                            </p>
                                            <!-- <a class="btn-details"><i
                                                    class="flaticon-right-arrow-1"></i> LEARN MORE</a> -->
                                        </div>
                                    </div>
                                    <div class="content-box">
                                        <span class="number-box">01</span>
                                        <h3>Consultant Placement</h3>
                                        <img src="assets/images/services/it-staffing/consultant-placement.webp"
                                            alt="Outsoursing">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12 mb-4 mb-lg-0">
                            <div class="support-box">
                                <div class="inner-box">
                                    <div class="overlay flex-middle">
                                        <span class="number-box">02</span>
                                        <div class="inner">
                                            <p>We partner with you to recruit full-time IT professionals. From sourcing
                                                to screening and shortlisting, we manage the entire hiring process to
                                                help you build a strong, long-term team.</p>
                                            <!-- <a href="web-development.html" class="btn-details"><i
                                                    class="flaticon-right-arrow-1"></i> LEARN MORE</a> -->
                                        </div>
                                    </div>
                                    <div class="content-box">
                                        <span class="number-box">02</span>
                                        <h3>Direct Hire Support</h3>
                                        <img src="assets/images/services/it-staffing/direct-hire-support.webp"
                                            alt="Custom Software">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <div class="support-box">
                                <div class="inner-box">
                                    <div class="overlay flex-middle">
                                        <span class="number-box">03</span>
                                        <div class="inner">
                                            <p>We fully manage and execute client projects using our in-house team.
                                                Clients are billed based on the specific resources they request,
                                                offering cost flexibility and control, while we handle full project
                                                execution and delivery responsibilities.

                                            </p>
                                            <!-- <a href="mobile-development.html" class="btn-details"><i
                                                    class="flaticon-right-arrow-1"></i> LEARN MORE</a> -->
                                        </div>
                                    </div>
                                    <div class="content-box">
                                        <span class="number-box">03</span>
                                        <h3>Project-Based Delivery</h3>
                                        <img src="assets/images/services/it-staffing/project-based-delivery.webp"
                                            alt="Product Design">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="app-offer about-top">
                <div class="overlay overlay-image"></div>
                <div class="container">
                    <div class="row col-rev">
                        <div class="col-lg-6 mb-lg-0">
                            <img src="assets/images/services/it-staffing/strategic-it-staffing.webp" alt=""
                                class="rounded">
                        </div>
                        <div class="col-lg-6 align-self-center">
                            <div class="right-about-v4">
                                <div class="ot-heading">
                                    <span>Crafting Teams, Powering Progress —</span>
                                    <h2 class="main-heading"> Strategic IT Staffing
                                        for Every Business Need
                                    </h2>
                                </div>
                                <div class="space-5"></div>
                                <p>At <strong>Trebecon,</strong> we connect vision with talent. Our IT Staffing Services
                                    are built to
                                    scale with your evolving business, offering flexibility, efficiency, and unmatched
                                    technical expertise. Whether you’re seeking rapid staff augmentation, long-term
                                    hires, or managed team solutions, we deliver the right professionals to fuel your
                                    innovation and success.


                                </p>

                                <!-- <div class="ot-button">
                                    <a href="#" class="octf-btn octf-btn-primary">all sevices</a>
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Why Choose trebecon? start -->
            <section class="service-v5 about-top">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 text-center">
                            <div class="ot-heading">
                                <span> The Perks — </span>
                                <h2 class="main-heading">Why choose Trebecon for
                                    <br />IT Staffing Services
                                </h2>
                                <p> Our client-first approach ensures you access the top 5% of IT talent, ready to
                                    integrate seamlessly into your operations and deliver results from day one.

                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="space-30"></div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 mb-30">
                            <div class="icon-box-s2 s2 border-s1 bg bg1 text-center h-100">
                                <div class="icon-main img">
                                    <img src="assets/images/icons/services/it-staffing-services/specialized-talent.svg"
                                        alt="icon1">
                                </div>
                                <div class="content-box">
                                    <h5><a> Specialized Talent On-Demand
                                        </a></h5>
                                    <p> Access experienced professionals across a wide range of technologies and
                                        domains—ready to hit the ground running and drive outcomes.

                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 mb-30">
                            <div class="icon-box-s2 s2 border-s1 bg bg2 text-center h-100">
                                <div class="icon-main img">
                                    <img src="assets/images/icons/services/it-staffing-services/flexible-engagement-models.svg"
                                        alt="icon1">
                                </div>
                                <div class="content-box">
                                    <h5><a> Flexible Engagement Models
                                        </a></h5>
                                    <p> Whether you need short-term support or long-term strategic hires, our adaptable
                                        staffing models align with your goals and timelines.

                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 mb-30">
                            <div class="icon-box-s2 s2 border-s1 bg bg3 text-center h-100">
                                <div class="icon-main img">
                                    <img src="assets/images/icons/services/it-staffing-services/quality-centric-selection.svg"
                                        alt="icon1">
                                </div>
                                <div class="content-box">
                                    <h5><a> Quality-Centric Selection Process

                                        </a></h5>
                                    <p> Every candidate is rigorously vetted for technical excellence, cultural fit, and
                                        problem-solving ability to ensure optimal alignment with your team.

                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 mb-30">
                            <div class="icon-box-s2 s2 border-s1 bg bg4 text-center h-100">
                                <div class="icon-main img">
                                    <img src="assets/images/icons/services/it-staffing-services/global-reach.svg"
                                        alt="icon1">
                                </div>
                                <div class="content-box ">
                                    <h5><a> Global Reach, Local Insight

                                        </a></h5>
                                    <p> From onshore to offshore talent, we bridge global availability with localized
                                        understanding, including immigration and compliance support.

                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Why Choose trebecon? end -->



            <section class="about-top" id="staff-augmentation">
                <div class="container">
                    <div class="row">
                        <!-- <div class="offset-xl-2 col-xl-8 col-lg-12 text-center px-xl-5">
                                <h1> Our Key Services
                                </h1>
                            </div> -->
                        <!-- <div class="space-30"></div> -->

                        <div class="col-lg-6 align-self-center mb-5 mb-lg-0">
                            <h4>Staff Augmentation
                            </h4>
                            <div class="space-5"></div>
                            <p>Trebecon’s staff augmentation service allows you to scale your team with top-tier
                                tech
                                talent quickly, efficiently, and flexibly—meeting deadlines without compromising
                                quality
                                or control.


                            </p>
                            <div class="space-5"></div>
                            <ul class="list-12 style-none pl-0">
                                <li class="d-flex">
                                    <span class="list-icon-12 align-self-center">
                                        <svg xmlns="http://www.w3.org/2000/svg" id="Capa_1"
                                            viewBox="0 0 515.556 515.556">
                                            <path
                                                d="m0 274.226 176.549 176.886 339.007-338.672-48.67-47.997-290.337 290-128.553-128.552z">
                                            </path>
                                        </svg>
                                    </span>
                                    <span class="list-text-12">Access to specialized developers, engineers, and
                                        project
                                        managers
                                    </span>
                                </li>
                                <li class="d-flex">
                                    <span class="list-icon-12 align-self-center">
                                        <svg xmlns="http://www.w3.org/2000/svg" id="Capa_1"
                                            viewBox="0 0 515.556 515.556">
                                            <path
                                                d="m0 274.226 176.549 176.886 339.007-338.672-48.67-47.997-290.337 290-128.553-128.552z">
                                            </path>
                                        </svg>
                                    </span>
                                    <span class="list-text-12">Rapid onboarding with minimal disruption

                                    </span>
                                </li>
                                <li class="d-flex">
                                    <span class="list-icon-12 align-self-center">
                                        <svg xmlns="http://www.w3.org/2000/svg" id="Capa_1"
                                            viewBox="0 0 515.556 515.556">
                                            <path
                                                d="m0 274.226 176.549 176.886 339.007-338.672-48.67-47.997-290.337 290-128.553-128.552z">
                                            </path>
                                        </svg>
                                    </span>
                                    <span class="list-text-12">Short- and long-term engagement flexibility

                                    </span>
                                </li>
                                <li class="d-flex">
                                    <span class="list-icon-12 align-self-center">
                                        <svg xmlns="http://www.w3.org/2000/svg" id="Capa_1"
                                            viewBox="0 0 515.556 515.556">
                                            <path
                                                d="m0 274.226 176.549 176.886 339.007-338.672-48.67-47.997-290.337 290-128.553-128.552z">
                                            </path>
                                        </svg>
                                    </span>
                                    <span class="list-text-12">Seamless collaboration with in-house teams

                                    </span>
                                </li>
                            </ul>

                        </div>
                        <div class="col-lg-6 text-right">
                            <div class="service12-img-1">
                                <img src="assets/images/services/it-staffing/staff-augmentation.webp" alt="">
                                <div class="service-img1-position-12">
                                    <img src="assets/images/background/home12-shape3.png" alt="">
                                </div>
                                <div class="service-img2-position-12">
                                    <img src="assets/images/background/home12-shape4.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>


            <section class="about-top" id="contract-to-hire">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 align-self-center mb-5 mb-lg-0">
                            <div class="service12-img-2">
                                <div class="service-img3-position-12">
                                    <img src="assets/images/background/home12-shape5.png" alt="">
                                </div>
                                <div class="service-img4-position-12">
                                    <img src="assets/images/background/home12-shape6.png" alt="">
                                </div>
                                <img src="assets/images/services/it-staffing/contract-to-hire.webp" alt="">
                            </div>
                        </div>
                        <div class="col-lg-6 align-self-center order-first order-lg-last mb-5 mb-lg-0">
                            <div class="service12-content-2">
                                <h4>Contract-to-Hire

                                </h4>
                                <div class="space-5"></div>
                                <p>With our contract-to-hire model, we evaluate candidates on real projects
                                    before
                                    hiring permanently. It reduces hiring risks and ensures long-term fit with
                                    your team
                                    and culture.


                                </p>
                                <div class="space-5"></div>
                                <ul class="list-12 style-none pl-0">
                                    <li class="d-flex">
                                        <span class="list-icon-12 align-self-center">
                                            <svg xmlns="http://www.w3.org/2000/svg" id="Capa_1"
                                                viewBox="0 0 515.556 515.556">
                                                <path
                                                    d="m0 274.226 176.549 176.886 339.007-338.672-48.67-47.997-290.337 290-128.553-128.552z">
                                                </path>
                                            </svg>
                                        </span>
                                        <span class="list-text-12">Try-before-you-hire model for performance
                                            evaluation
                                        </span>
                                    </li>
                                    <li class="d-flex">
                                        <span class="list-icon-12 align-self-center">
                                            <svg xmlns="http://www.w3.org/2000/svg" id="Capa_1"
                                                viewBox="0 0 515.556 515.556">
                                                <path
                                                    d="m0 274.226 176.549 176.886 339.007-338.672-48.67-47.997-290.337 290-128.553-128.552z">
                                                </path>
                                            </svg>
                                        </span>
                                        <span class="list-text-12">Smooth transition from contract to full-time
                                            role

                                        </span>
                                    </li>
                                    <li class="d-flex">
                                        <span class="list-icon-12 align-self-center">
                                            <svg xmlns="http://www.w3.org/2000/svg" id="Capa_1"
                                                viewBox="0 0 515.556 515.556">
                                                <path
                                                    d="m0 274.226 176.549 176.886 339.007-338.672-48.67-47.997-290.337 290-128.553-128.552z">
                                                </path>
                                            </svg>
                                        </span>
                                        <span class="list-text-12">Reduces hiring risk and recruitment overhead

                                        </span>
                                    </li>

                                    <li class="d-flex">
                                        <span class="list-icon-12 align-self-center">
                                            <svg xmlns="http://www.w3.org/2000/svg" id="Capa_1"
                                                viewBox="0 0 515.556 515.556">
                                                <path
                                                    d="m0 274.226 176.549 176.886 339.007-338.672-48.67-47.997-290.337 290-128.553-128.552z">
                                                </path>
                                            </svg>
                                        </span>
                                        <span class="list-text-12">Ideal for niche or hard-to-fill positions
                                        </span>
                                    </li>
                                </ul>


                            </div>
                        </div>
                    </div>
                </div>
            </section>


            <section class="about-top" id="dedicated-teams">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 align-self-center mb-5 mb-lg-0">
                            <h4>Dedicated Teams

                            </h4>
                            <div class="space-5"></div>
                            <p>We build fully managed, client-aligned dedicated teams tailored to your project
                                needs.
                                These professionals work exclusively on your tasks, ensuring deep focus,
                                accountability,
                                and productivity.


                            </p>
                            <div class="space-5"></div>
                            <ul class="list-12 style-none pl-0">
                                <li class="d-flex">
                                    <span class="list-icon-12 align-self-center">
                                        <svg xmlns="http://www.w3.org/2000/svg" id="Capa_1"
                                            viewBox="0 0 515.556 515.556">
                                            <path
                                                d="m0 274.226 176.549 176.886 339.007-338.672-48.67-47.997-290.337 290-128.553-128.552z">
                                            </path>
                                        </svg>
                                    </span>
                                    <span class="list-text-12">Full-time, client-focused teams managed by you or
                                        jointly
                                    </span>
                                </li>
                                <li class="d-flex">
                                    <span class="list-icon-12 align-self-center">
                                        <svg xmlns="http://www.w3.org/2000/svg" id="Capa_1"
                                            viewBox="0 0 515.556 515.556">
                                            <path
                                                d="m0 274.226 176.549 176.886 339.007-338.672-48.67-47.997-290.337 290-128.553-128.552z">
                                            </path>
                                        </svg>
                                    </span>
                                    <span class="list-text-12">Aligned with your time zone, culture, and tools
                                    </span>
                                </li>
                                <li class="d-flex">
                                    <span class="list-icon-12 align-self-center">
                                        <svg xmlns="http://www.w3.org/2000/svg" id="Capa_1"
                                            viewBox="0 0 515.556 515.556">
                                            <path
                                                d="m0 274.226 176.549 176.886 339.007-338.672-48.67-47.997-290.337 290-128.553-128.552z">
                                            </path>
                                        </svg>
                                    </span>
                                    <span class="list-text-12">Transparent reporting and agile methodology
                                    </span>
                                </li>

                                <li class="d-flex">
                                    <span class="list-icon-12 align-self-center">
                                        <svg xmlns="http://www.w3.org/2000/svg" id="Capa_1"
                                            viewBox="0 0 515.556 515.556">
                                            <path
                                                d="m0 274.226 176.549 176.886 339.007-338.672-48.67-47.997-290.337 290-128.553-128.552z">
                                            </path>
                                        </svg>
                                    </span>
                                    <span class="list-text-12">Scalable based on evolving project needs

                                    </span>
                                </li>
                            </ul>


                        </div>
                        <div class="col-lg-6 text-right">
                            <div class="service12-img-3">
                                <div class="service-img5-position-12">
                                    <img src="assets/images/background/home12-shape5.png" alt="">
                                </div>
                                <div class="service-img6-position-12">
                                    <img src="assets/images/background/home12-shape7.png" alt="">
                                </div>
                                <img src="assets/images/services/it-staffing/dedicated-teams.webp" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="about-top" id="immigration-support">
                <div class="container">
                    <div class="row d-flex aligb-items-center">
                        <div class="col-lg-6 align-self-center mb-5 mb-lg-0">
                            <div class="service12-img-2">
                                <div class="service-img3-position-12">
                                    <img src="assets/images/background/home12-shape5.png" alt="">
                                </div>
                                <div class="service-img4-position-12">
                                    <img src="assets/images/background/home12-shape6.png" alt="">
                                </div>
                                <img src="assets/images/services/it-staffing/immigration-support.webp" alt="">
                            </div>
                        </div>
                        <div class="col-lg-6 align-self-center order-first order-lg-last mb-5 mb-lg-0">
                            <div class="service12-content-2">
                                <h4>Immigration Support
                                </h4>
                                <div class="space-5"></div>
                                <p>Trebecon offers end-to-end immigration assistance, including visa processing,
                                    compliance, and relocation. We simplify global hiring, helping you onboard
                                    skilled
                                    international professionals without legal complications.

                                </p>
                                <div class="space-5"></div>
                                <ul class="list-12 style-none pl-0">
                                    <li class="d-flex">
                                        <span class="list-icon-12 align-self-center">
                                            <svg xmlns="http://www.w3.org/2000/svg" id="Capa_1"
                                                viewBox="0 0 515.556 515.556">
                                                <path
                                                    d="m0 274.226 176.549 176.886 339.007-338.672-48.67-47.997-290.337 290-128.553-128.552z">
                                                </path>
                                            </svg>
                                        </span>
                                        <span class="list-text-12">End-to-end support for work visas,
                                            compliance,
                                            and
                                            documentation
                                        </span>
                                    </li>
                                    <li class="d-flex">
                                        <span class="list-icon-12 align-self-center">
                                            <svg xmlns="http://www.w3.org/2000/svg" id="Capa_1"
                                                viewBox="0 0 515.556 515.556">
                                                <path
                                                    d="m0 274.226 176.549 176.886 339.007-338.672-48.67-47.997-290.337 290-128.553-128.552z">
                                                </path>
                                            </svg>
                                        </span>
                                        <span class="list-text-12">Sponsorship and relocation assistance

                                        </span>
                                    </li>
                                    <li class="d-flex">
                                        <span class="list-icon-12 align-self-center">
                                            <svg xmlns="http://www.w3.org/2000/svg" id="Capa_1"
                                                viewBox="0 0 515.556 515.556">
                                                <path
                                                    d="m0 274.226 176.549 176.886 339.007-338.672-48.67-47.997-290.337 290-128.553-128.552z">
                                                </path>
                                            </svg>
                                        </span>
                                        <span class="list-text-12">Local labor law compliance and advisory
                                        </span>
                                    </li>

                                    <li class="d-flex">
                                        <span class="list-icon-12 align-self-center">
                                            <svg xmlns="http://www.w3.org/2000/svg" id="Capa_1"
                                                viewBox="0 0 515.556 515.556">
                                                <path
                                                    d="m0 274.226 176.549 176.886 339.007-338.672-48.67-47.997-290.337 290-128.553-128.552z">
                                                </path>
                                            </svg>
                                        </span>
                                        <span class="list-text-12">Minimizes legal and operational risks
                                        </span>
                                    </li>
                                </ul>

                            </div>
                        </div>
                    </div>
                </div>
            </section>


            <section class="about-top" id="managed-services-provider">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 align-self-center mb-5 mb-lg-0">
                            <h4>Managed Services Provider (MSP)

                            </h4>
                            <div class="space-5"></div>
                            <p>Our MSP model centralizes vendor management, optimizes workforce spending, and
                                ensures
                                consistent service levels across your contingent staffing operations, improving
                                efficiency, compliance, and cost control.
                            </p>
                            <div class="space-5"></div>
                            <ul class="list-12 style-none pl-0">
                                <li class="d-flex">
                                    <span class="list-icon-12 align-self-center">
                                        <svg xmlns="http://www.w3.org/2000/svg" id="Capa_1"
                                            viewBox="0 0 515.556 515.556">
                                            <path
                                                d="m0 274.226 176.549 176.886 339.007-338.672-48.67-47.997-290.337 290-128.553-128.552z">
                                            </path>
                                        </svg>
                                    </span>
                                    <span class="list-text-12">Centralized vendor management for all staffing
                                        needs
                                    </span>
                                </li>
                                <li class="d-flex">
                                    <span class="list-icon-12 align-self-center">
                                        <svg xmlns="http://www.w3.org/2000/svg" id="Capa_1"
                                            viewBox="0 0 515.556 515.556">
                                            <path
                                                d="m0 274.226 176.549 176.886 339.007-338.672-48.67-47.997-290.337 290-128.553-128.552z">
                                            </path>
                                        </svg>
                                    </span>
                                    <span class="list-text-12">SLA-based performance and accountability
                                    </span>
                                </li>
                                <li class="d-flex">
                                    <span class="list-icon-12 align-self-center">
                                        <svg xmlns="http://www.w3.org/2000/svg" id="Capa_1"
                                            viewBox="0 0 515.556 515.556">
                                            <path
                                                d="m0 274.226 176.549 176.886 339.007-338.672-48.67-47.997-290.337 290-128.553-128.552z">
                                            </path>
                                        </svg>
                                    </span>
                                    <span class="list-text-12">Workforce analytics and cost optimization

                                    </span>
                                </li>

                                <li class="d-flex">
                                    <span class="list-icon-12 align-self-center">
                                        <svg xmlns="http://www.w3.org/2000/svg" id="Capa_1"
                                            viewBox="0 0 515.556 515.556">
                                            <path
                                                d="m0 274.226 176.549 176.886 339.007-338.672-48.67-47.997-290.337 290-128.553-128.552z">
                                            </path>
                                        </svg>
                                    </span>
                                    <span class="list-text-12">Policy enforcement and regulatory compliance
                                    </span>
                                </li>
                            </ul>
                            <!-- <div class="space-30"></div>
                                    <div class="space-5"></div> -->

                        </div>
                        <div class="col-lg-6 text-right">
                            <div class="service12-img-3">
                                <div class="service-img5-position-12">
                                    <img src="assets/images/background/home12-shape5.png" alt="">
                                </div>
                                <div class="service-img6-position-12">
                                    <img src="assets/images/background/home12-shape7.png" alt="">
                                </div>
                                <img src="assets/images/services/it-staffing/managed-services-provider.webp" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="about-team" id="direct-client-placements">
                <div class="container">
                    <div class="row d-flex aligb-items-center">
                        <div class="col-lg-6 align-self-center mb-5 mb-lg-0">
                            <div class="service12-img-2">
                                <div class="service-img3-position-12">
                                    <img src="assets/images/background/home12-shape5.png" alt="">
                                </div>
                                <div class="service-img4-position-12">
                                    <img src="assets/images/background/home12-shape6.png" alt="">
                                </div>
                                <img src="assets/images/services/it-staffing/direct-client-placements.webp" alt="">
                            </div>
                        </div>
                        <div class="col-lg-6 align-self-center order-first order-lg-last mb-5 mb-lg-0">
                            <div class="service12-content-2">
                                <h4>Direct Client Placements

                                </h4>
                                <div class="space-5"></div>
                                <p>We deliver pre-vetted, qualified candidates directly for full-time roles.
                                    Trebecon
                                    streamlines recruitment by matching top talent to your needs with speed,
                                    precision,
                                    and insight.


                                </p>
                                <div class="space-5"></div>
                                <ul class="list-12 style-none pl-0">
                                    <li class="d-flex">
                                        <span class="list-icon-12 align-self-center">
                                            <svg xmlns="http://www.w3.org/2000/svg" id="Capa_1"
                                                viewBox="0 0 515.556 515.556">
                                                <path
                                                    d="m0 274.226 176.549 176.886 339.007-338.672-48.67-47.997-290.337 290-128.553-128.552z">
                                                </path>
                                            </svg>
                                        </span>
                                        <span class="list-text-12">Industry-specific hiring for tech, DevOps,
                                            AI,
                                            cloud,
                                            and more

                                        </span>
                                    </li>
                                    <li class="d-flex">
                                        <span class="list-icon-12 align-self-center">
                                            <svg xmlns="http://www.w3.org/2000/svg" id="Capa_1"
                                                viewBox="0 0 515.556 515.556">
                                                <path
                                                    d="m0 274.226 176.549 176.886 339.007-338.672-48.67-47.997-290.337 290-128.553-128.552z">
                                                </path>
                                            </svg>
                                        </span>
                                        <span class="list-text-12">Pre-screened and culture-fit validated
                                            candidates
                                        </span>
                                    </li>
                                    <li class="d-flex">
                                        <span class="list-icon-12 align-self-center">
                                            <svg xmlns="http://www.w3.org/2000/svg" id="Capa_1"
                                                viewBox="0 0 515.556 515.556">
                                                <path
                                                    d="m0 274.226 176.549 176.886 339.007-338.672-48.67-47.997-290.337 290-128.553-128.552z">
                                                </path>
                                            </svg>
                                        </span>
                                        <span class="list-text-12">Reduced time-to-hire with access to passive
                                            talent
                                        </span>
                                    </li>

                                    <li class="d-flex">
                                        <span class="list-icon-12 align-self-center">
                                            <svg xmlns="http://www.w3.org/2000/svg" id="Capa_1"
                                                viewBox="0 0 515.556 515.556">
                                                <path
                                                    d="m0 274.226 176.549 176.886 339.007-338.672-48.67-47.997-290.337 290-128.553-128.552z">
                                                </path>
                                            </svg>
                                        </span>
                                        <span class="list-text-12">End-to-end placement services, including
                                            onboarding
                                            support
                                        </span>
                                    </li>
                                </ul>

                            </div>
                        </div>
                    </div>


                </div>
            </section>


            <!--  Industries We Serve start -->
            <section class="section-industris about-team">
                <div class="container">
                    <div class="col-md-12 text-center">
                        <div class="ot-heading">
                            <span>How It Works —</span>
                            <h2 class="main-heading"> From Requirement to Reinforcement

                            </h2>
                            <p>A Seamless, Scalable Journey to the Right IT Talent at the Right Time

                            </p>
                        </div>
                    </div>
                </div>
                <div class="container-fluid">
                    <div class="ot-industries">
                        <div class="owl-carousel owl-theme industries-inner ot-industries-slider owl-loaded owl-drag">
                            <div class="owl-stage-outer">
                                <div class="owl-stage"
                                    style="transform: translate3d(-1650px, 0px, 0px); transition: all; width: 7330px; padding-left: 365px; padding-right: 365px;">


                                    <!-- <div class="owl-item cloned" style="width: 412.5px;">
                                        <a href="finance-and-fintech.php">
                                            <div class="indus-item">
                                                <div class="item-inner">
                                                    <div class="overlay"></div>
                                                    <div class="i-image">
                                                        <img src="assets/images/b-image.png" alt="">
                                                    </div>
                                                    <div class="iinfo">
                                                        <h6>Custom Software Development
                                                        </h6>
                                                        <div class="itext">
                                                            We build scalable, secure, and fully customized software
                                                            tailored to your unique business needs, ensuring seamless
                                                            integration, high performance, and long-term value across
                                                            various platforms and industries.

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>  -->
                                    <div class="owl-item cloned" style="width: 412.5px;">
                                        <a>
                                            <div class="indus-item">
                                                <div class="item-inner">
                                                    <div class="overlay"></div>
                                                    <div class="i-image">
                                                        <img src="assets/images/text-img/t.webp" alt="">
                                                    </div>
                                                    <div class="iinfo">
                                                        <h6> Talent Discovery & Requirement Analysis
                                                        </h6>
                                                        <div class="itext">
                                                            We analyze your project goals, technical stack, and
                                                            team
                                                            dynamics to define staffing needs precisely.


                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="owl-item cloned" style="width: 412.5px;">
                                        <a>
                                            <div class="indus-item">
                                                <div class="item-inner">
                                                    <div class="overlay"></div>
                                                    <div class="i-image">
                                                        <img src="assets/images/text-img/c.webp" alt="">
                                                    </div>
                                                    <div class="iinfo">
                                                        <h6>Candidate Sourcing & Screening
                                                        </h6>
                                                        <div class="itext">
                                                            Our global network and proprietary sourcing
                                                            processes
                                                            identify top candidates, vetted for both skill and
                                                            fit.


                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>

                                    <div class="owl-item active" style="width: 412.5px;">
                                        <a>
                                            <div class="indus-item">
                                                <div class="item-inner">
                                                    <div class="overlay"></div>
                                                    <div class="i-image">
                                                        <img src="assets/images/text-img/e.webp" alt="">
                                                    </div>
                                                    <div class="iinfo">
                                                        <h6>Engagement & Onboarding

                                                        </h6>
                                                        <div class="itext">
                                                            You choose the engagement model. We handle
                                                            onboarding,
                                                            documentation, and seamless integration.
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>

                                    <div class="owl-item" style="width: 412.5px;">
                                        <a>
                                            <div class="indus-item">
                                                <div class="item-inner">
                                                    <div class="overlay"></div>
                                                    <div class="i-image">
                                                        <img src="assets/images/text-img/c.webp" alt="">
                                                    </div>
                                                    <div class="iinfo">
                                                        <h6>Continuous Support & Optimization
                                                        </h6>
                                                        <div class="itext">
                                                            Ongoing account management, performance tracking,
                                                            and
                                                            scaling support ensure long-term success.
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!--  Industries We Serve end -->


            <!-- faq's -->


            <section class="faq">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 text-center">
                            <div class="ot-heading">
                                <span>FAQ —</span>
                                <h2 class="main-heading">Frequently Asked Questions</h2>
                            </div>
                            <div class="space-25"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="ot-accordions">
                                <div class="acc-item current">
                                    <span class="acc-toggle">How quickly can you provide candidates?


                                        <i class="down flaticon-download-arrow"></i><i class="up flaticon-up-arrow"></i>
                                    </span>
                                    <div class="acc-content active" style="display: block;">
                                        <p> Our extensive talent pool and agile sourcing process allow us to
                                            deliver
                                            qualified profiles within 48–72 hours for most roles.

                                        </p>
                                    </div>
                                </div>
                                <div class="acc-item">
                                    <span class="acc-toggle">What roles do you specialize in staffing?


                                        <i class="down flaticon-download-arrow"></i><i class="up flaticon-up-arrow"></i>
                                    </span>
                                    <div class="acc-content">
                                        <p> We cover a wide spectrum, including software developers, DevOps
                                            engineers,
                                            data scientists, QA testers, UI/UX designers, project managers, and
                                            more.

                                        </p>
                                    </div>
                                </div>
                                <div class="acc-item">
                                    <span class="acc-toggle">Can I convert contract resources to full-time hires
                                        later?

                                        <i class="down flaticon-download-arrow"></i><i class="up flaticon-up-arrow"></i>
                                    </span>
                                    <div class="acc-content">
                                        <p> Absolutely. Our contract-to-hire model is designed for flexible
                                            transitions
                                            based on performance and mutual fit.

                                        </p>
                                    </div>
                                </div>
                                <div class="acc-item">
                                    <span class="acc-toggle">Do you offer support for international staffing and
                                        relocation?
                                        <i class="down flaticon-download-arrow"></i><i class="up flaticon-up-arrow"></i>
                                    </span>
                                    <div class="acc-content">
                                        <p> Yes. We provide full immigration support, including visa
                                            sponsorship, legal
                                            documentation, and relocation services.

                                        </p>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </section>

        </div>


    </div>
</div>