<div class="royal_preloader">
    <div id="page" class="site">

        <div id="content" class="site-content">
            <div class="page-header flex-middle">
                <div class="container">
                    <div class="inner flex-middle">
                        <h1 class="page-title">Technology Services</h1>
                        <ul id="breadcrumbs" class="breadcrumbs none-style">
                            <li><a routerLink="/">Home</a></li>
                            <li class="active">Technology Services</li>
                        </ul>
                    </div>
                </div>
            </div>
            <section class="app-offer about-top">
                <div class="overlay overlay-image"></div>
                <div class="container">
                    <div class="row">

                        <div class="col-lg-6 align-self-center">
                            <div class="right-about-v4">
                                <div class="ot-heading">
                                    <span> Transforming Business with Technology — </span>
                                    <h2 class="main-heading"> Scalable, Secure, and Smart Solutions

                                    </h2>
                                </div>
                                <div class="space-5"></div>
                                <p>At <strong> Trebecon, </strong> we empower organizations to harness the full
                                    potential of technology.
                                    From enterprise solutions to cutting-edge AI, cloud innovation, and digital process
                                    outsourcing, our services are built to fuel sustainable growth, operational
                                    excellence, and strategic agility. Whether you’re modernizing infrastructure,
                                    optimizing data, or scaling service delivery—we’ve got the expertise to drive your
                                    digital evolution.


                                </p>

                                <!-- <div class="ot-button">
                                    <a href="#" class="octf-btn octf-btn-primary">all sevices</a>
                                </div> -->
                            </div>
                        </div>
                        <div class="col-lg-6 mb-4 mb-lg-0">
                            <img src="assets/images/services/technology-services/scalable-secure-solutions.webp" alt=""
                                class="rounded">
                        </div>
                    </div>
                </div>
            </section>
            <!-- Why Choose trebecon? start -->
            <section class="service-v5 about-team">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 text-center">
                            <div class="ot-heading">
                                <span> The Perks — </span>
                                <h2 class="main-heading">Why choose Trebecon for
                                    <br />Technology Services
                                </h2>
                                <p>Our client-centric, innovation-first approach ensures that your business gets
                                    tailored solutions backed by proven technology stacks, deep industry knowledge, and
                                    measurable impact.

                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="space-30"></div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 mb-30">
                            <div class="icon-box-s2 s2 border-s1 bg technology-ser bg1 text-center h-100">
                                <div class="icon-main img">
                                    <img src="assets/images/icons/services/technology-services/end-to-end.svg" alt="">
                                </div>
                                <div class="content-box">
                                    <h5><a> End-to-End Digital Expertise
                                        </a></h5>
                                    <p> From infrastructure to innovation, we deliver cohesive technology strategies and
                                        implementations that accelerate growth and resilience.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 mb-30">
                            <div class="icon-box-s2 s2 border-s1 bg technology-ser bg2 text-center h-100">
                                <div class="icon-main img">
                                    <img src="assets/images/icons/services/technology-services/future-ready-solutions.svg"
                                        alt="">
                                </div>
                                <div class="content-box">
                                    <h5><a> Future-Ready Solutions
                                        </a></h5>
                                    <p> We integrate AI, cloud, and automation at every layer to keep your organization
                                        agile, scalable, and competitive.

                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 mb-30">
                            <div class="icon-box-s2 s2 border-s1 bg technology-ser bg3 text-center h-100">
                                <div class="icon-main img">
                                    <img src="assets/images/icons/services/technology-services/security-first-architecture.svg"
                                        alt="">
                                </div>
                                <div class="content-box">
                                    <h5><a>Security-First Architecture
                                        </a></h5>
                                    <p> All solutions are built with security and compliance at the core, protecting
                                        your business and data in a rapidly evolving threat landscape.

                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 mb-30">
                            <div class="icon-box-s2 s2 border-s1 bg technology-ser bg4 text-center h-100">
                                <div class="icon-main img">
                                    <img src="assets/images/icons/services/technology-services/custom-fit-implementations.svg"
                                        alt="">
                                </div>
                                <div class="content-box ">
                                    <h5><a> Custom-Fit Implementations

                                        </a></h5>
                                    <p> We align technology delivery with your goals, industry nuances, and existing
                                        systems for seamless transformation.

                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Why Choose trebecon? end -->

            <section class="about-bottom" id="enterprise-sol">
                <div class="grid-lines">
                    <span class="g-line line-left"><span class="g-dot"></span></span>
                    <span class="g-line line-cleft"><span class="g-dot"></span></span>
                    <span class="g-line line-center"><span class="g-dot"></span></span>
                    <span class="g-line line-cright"><span class="g-dot"></span></span>
                    <span class="g-line line-right"><span class="g-dot"></span></span>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 offset-lg-3 px-0 text-center">
                            <h2>Enterprise Solutions

                            </h2>
                            <div class="space-50"></div>
                        </div>

                    </div>
                    <div class="row col-change">
                        <div class="col-lg-5 col-md-12 mb-5 mb-lg-0">
                            <div class="team-img-i9">
                                <img src="assets/images/services/technology-services/enterprise-solutions-01.webp"
                                    alt="">
                            </div>
                        </div>
                        <div class="col-lg-7 col-md-12 align-self-center">
                            <div class="team-desc-i9">



                                <h2 class="font-title-i9 font-sm-i9">Enterprise Resource Planning (ERP)
                                </h2>
                                <p class="p-i9">Optimize operations and unify your business functions with ERP systems
                                    tailored to your industry and scale.

                                </p>
                                <div class="space-5"></div>
                                <ul class="list-style-i9">
                                    <li><i class="far fa-circle"></i><span>End-to-end ERP implementations
                                        </span></li>
                                    <li><i class="far fa-circle"></i><span>Process automation and real-time visibility



                                            standards</span></li>
                                    <li><i class="far fa-circle"></i><span>System integration with legacy and
                                            third-party tools

                                        </span></li>
                                    <li><i class="far fa-circle"></i><span>Continuous support, updates, and compliance
                                            management


                                        </span></li>
                                </ul>



                                <h2 class="font-title-i9 font-sm-i9">Business Intelligence

                                </h2>
                                <div class="space-5"></div>
                                <p class="p-i9">Transform how your organization views and uses data. Trebecon’s Business
                                    Intelligence services empower you with real-time visibility, strategic reporting,
                                    and performance tracking through intuitive, data-rich dashboards.


                                </p>
                                <div class="space-5"></div>
                                <ul class="list-style-i9">
                                    <li><i class="far fa-circle"></i><span>BI platform implementation
                                        </span></li>
                                    <li><i class="far fa-circle"></i><span>Custom dashboard and KPI development
                                        </span></li>
                                    <li><i class="far fa-circle"></i><span>Automated reporting for consistent insights

                                        </span></li>
                                    <li><i class="far fa-circle"></i><span>User-centric visualizations for better
                                            understanding and engagement

                                        </span></li>
                                </ul>



                                <h2 class="font-title-i9 font-sm-i9">Data Analytics
                                </h2>
                                <div class="space-5"></div>
                                <p class="p-i9">Leverage the power of advanced analytics to make smarter business
                                    decisions. Trebecon’s Data Analytics solutions help you identify patterns, predict
                                    outcomes, and optimize performance with data-driven precision.


                                </p>
                                <div class="space-5"></div>
                                <ul class="list-style-i9">
                                    <li><i class="far fa-circle"></i><span>Predictive and prescriptive analytics
                                            modeling

                                        </span></li>
                                    <li><i class="far fa-circle"></i><span>Data mining and trend analysis
                                        </span></li>
                                    <li><i class="far fa-circle"></i><span>Integration with enterprise data sources

                                        </span></li>
                                    <li><i class="far fa-circle"></i><span>Governance frameworks ensuring data quality
                                            and compliance


                                        </span></li>
                                </ul>



                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!---->

            <section class="service-v4 about-team" id="emerging-tech">
                <div class="overlay overlay-bg"></div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 text-center">
                            <div class="ot-heading">
                                <span class="text-primary-light"> Our Key Services —</span>
                                <h2 class="main-heading text-white"> AI/ML & Emerging Tech
                                </h2>
                            </div>
                            <div class="space-20"></div>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-lg-6 col-md-6 mb-4 mb-lg-0">
                            <div class="serv-box s1 v4 aiml">
                                <div class="icon-main aiml-img">
                                    <img src="assets/images/icons/technologies/web-technologies/aiml.svg"
                                        alt="Python Logo" style="width: 50px; height: 50px;">

                                </div>
                                <div class="content-box">
                                    <h5>Artificial Intelligence</h5>
                                    <div>
                                        Deploy intelligent systems for automation, customer engagement, and decision
                                        support using AI-powered chatbots, NLP, computer vision, and recommendation
                                        engines.
                                        <ul>
                                            <li class="active"><a>AI chatbots for instant
                                                    support
                                                </a></li>
                                            <li><a>NLP for text and speech analysis
                                                </a></li>
                                            <li><a>Computer vision for image tasks
                                                </a></li>
                                            <li><a>Smart recommendations for personalization

                                                </a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 mb-4 mb-lg-0">
                            <div class="serv-box s1 v4 aiml">
                                <div class="icon-main aiml-img">
                                    <img src="assets/images/icons/industries/insurance/ai-ml.svg"
                                        alt="Cloud Computing Icon">
                                </div>
                                <div class="content-box">
                                    <h5>Machine Learning </h5>
                                    <div> Build and train custom ML models that learn from data, improve accuracy over
                                        time, and power real-time analytics, anomaly detection, and forecasting.

                                        <ul>
                                            <li class="active"><a>Custom ML model development</a></li>
                                            <li><a>Real-time data insights
                                                </a></li>
                                            <li><a>Anomaly and fraud detection
                                                </a></li>
                                            <li><a>Continuous learning and improvement

                                                </a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 mt-4">
                            <div class="serv-box s1 v4 aiml">
                                <div class="icon-main aiml-img">
                                    <img src="assets/images/icons/industries/retail/cloud.svg"
                                        alt="Cloud Computing Icon">
                                </div>
                                <div class="content-box">
                                    <h5>Cloud Technology</h5>
                                    <div>Utilize cloud-native platforms (AWS, Azure, GCP) for scalable, flexible
                                        infrastructure. Enable faster development cycles, global access, and
                                        cost-efficient operations.
                                        <ul>
                                            <li class="active"><a>Cloud migration</a></li>
                                            <li><a>DevOps and Infrastructure as Code
                                                </a></li>
                                            <li><a>Multi-cloud and hybrid architecture support

                                                </a></li>
                                            <li><a>Cloud security and cost
                                                    optimization
                                                </a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 mt-4">
                            <div class="serv-box s1 v4 aiml">
                                <div class="icon-main aiml-img">
                                    <img src="assets/images/icons/services/software-development-services/ongoing-scalability.svg"
                                        alt="icon1">
                                </div>
                                <div class="content-box">
                                    <h5>Cybersecurity</h5>
                                    <div>Implement proactive, AI-enhanced cybersecurity measures, including threat
                                        detection, risk assessment, and compliance frameworks to protect your data and
                                        digital assets.



                                        <ul>
                                            <li class="active" class="active"><a>Security audits, risk assessments, and
                                                    compliance</a></li>
                                            <li><a>Network, endpoint, and application security

                                                </a></li>
                                            <li><a>Identity and access management

                                                </a></li>

                                            <li><a>Managed threat detection and incident response


                                                </a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>


            <!--------->
            <section class="about-team" id="business-process">
                <div class="container">


                    <div class="row">
                        <div class="offset-xl-2 col-xl-8 col-lg-12 text-center px-xl-5">
                            <h2> Business Process Outsourcing</h2>
                            <div class="space-30"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 align-self-center mb-5 mb-lg-0">
                            <h2>Customer Support Services</h2>
                            <div class="space-5"></div>
                            <p>We deliver responsive, multilingual customer support across voice, chat, and
                                email—ensuring seamless experiences, stronger engagement, and 24/7 availability to boost
                                customer satisfaction and loyalty.
                            </p>
                            <div class="space-5"></div>
                            <ul class="list-12 style-none pl-0">
                                <li class="d-flex">
                                    <span class="list-icon-12 align-self-center">
                                        <svg xmlns="http://www.w3.org/2000/svg" id="Capa_1"
                                            viewBox="0 0 515.556 515.556">
                                            <path
                                                d="m0 274.226 176.549 176.886 339.007-338.672-48.67-47.997-290.337 290-128.553-128.552z">
                                            </path>
                                        </svg>
                                    </span>
                                    <span class="list-text-12">Omnichannel support </span>
                                </li>
                                <li class="d-flex">
                                    <span class="list-icon-12 align-self-center">
                                        <svg xmlns="http://www.w3.org/2000/svg" id="Capa_1"
                                            viewBox="0 0 515.556 515.556">
                                            <path
                                                d="m0 274.226 176.549 176.886 339.007-338.672-48.67-47.997-290.337 290-128.553-128.552z">
                                            </path>
                                        </svg>
                                    </span>
                                    <span class="list-text-12">Multilingual capabilities and 24/7 coverage
                                    </span>
                                </li>
                                <li class="d-flex">
                                    <span class="list-icon-12 align-self-center">
                                        <svg xmlns="http://www.w3.org/2000/svg" id="Capa_1"
                                            viewBox="0 0 515.556 515.556">
                                            <path
                                                d="m0 274.226 176.549 176.886 339.007-338.672-48.67-47.997-290.337 290-128.553-128.552z">
                                            </path>
                                        </svg>
                                    </span>
                                    <span class="list-text-12">SLA-based performance tracking


                                    </span>
                                </li>
                                <li class="d-flex">
                                    <span class="list-icon-12 align-self-center">
                                        <svg xmlns="http://www.w3.org/2000/svg" id="Capa_1"
                                            viewBox="0 0 515.556 515.556">
                                            <path
                                                d="m0 274.226 176.549 176.886 339.007-338.672-48.67-47.997-290.337 290-128.553-128.552z">
                                            </path>
                                        </svg>
                                    </span>
                                    <span class="list-text-12">Training and quality assurance programs
                                    </span>
                                </li>
                            </ul>
                            <!-- <div class="space-30"></div>
                            <div class="space-5"></div> -->

                        </div>
                        <div class="col-lg-6 text-right">
                            <div class="service12-img-1">
                                <img src="assets/images/services/technology-services/customer-support-services.webp"
                                    alt="">
                                <div class="service-img1-position-12">
                                    <img src="assets/images/background/home12-shape3.png" alt="">
                                </div>
                                <div class="service-img2-position-12">
                                    <img src="assets/images/background/home12-shape4.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="space-40 d-none d-md-block"></div>
                    <div class="space-60"></div>
                    <div class="row">
                        <div class="col-lg-6 align-self-center mb-5 mb-lg-0">
                            <div class="service12-img-2">
                                <div class="service-img3-position-12">
                                    <img src="assets/images/background/home12-shape5.png" alt="">
                                </div>
                                <div class="service-img4-position-12">
                                    <img src="assets/images/background/home12-shape6.png" alt="">
                                </div>
                                <img src="assets/images/services/technology-services/technical-support.webp" alt="">
                            </div>
                        </div>
                        <div class="col-lg-6 align-self-center order-first order-lg-last mb-5 mb-lg-0">
                            <div class="service12-content-2">
                                <h2>Technical Support
                                </h2>
                                <div class="space-5"></div>
                                <p>We provide expert technical support with multi-tier assistance, rapid issue
                                    resolution, and IT service management, ensuring minimal downtime and enhanced user
                                    productivity.
                                </p>
                                <div class="space-5"></div>
                                <ul class="list-12 style-none pl-0">
                                    <li class="d-flex">
                                        <span class="list-icon-12 align-self-center">
                                            <svg xmlns="http://www.w3.org/2000/svg" id="Capa_1"
                                                viewBox="0 0 515.556 515.556">
                                                <path
                                                    d="m0 274.226 176.549 176.886 339.007-338.672-48.67-47.997-290.337 290-128.553-128.552z">
                                                </path>
                                            </svg>
                                        </span>
                                        <span class="list-text-12">Tier 1 to Tier 3 technical assistance
                                        </span>
                                    </li>
                                    <li class="d-flex">
                                        <span class="list-icon-12 align-self-center">
                                            <svg xmlns="http://www.w3.org/2000/svg" id="Capa_1"
                                                viewBox="0 0 515.556 515.556">
                                                <path
                                                    d="m0 274.226 176.549 176.886 339.007-338.672-48.67-47.997-290.337 290-128.553-128.552z">
                                                </path>
                                            </svg>
                                        </span>
                                        <span class="list-text-12">Remote diagnostics and troubleshooting
                                        </span>
                                    </li>
                                    <li class="d-flex">
                                        <span class="list-icon-12 align-self-center">
                                            <svg xmlns="http://www.w3.org/2000/svg" id="Capa_1"
                                                viewBox="0 0 515.556 515.556">
                                                <path
                                                    d="m0 274.226 176.549 176.886 339.007-338.672-48.67-47.997-290.337 290-128.553-128.552z">
                                                </path>
                                            </svg>
                                        </span>
                                        <span class="list-text-12">Knowledge base development and automation
                                        </span>
                                    </li>

                                    <li class="d-flex">
                                        <span class="list-icon-12 align-self-center">
                                            <svg xmlns="http://www.w3.org/2000/svg" id="Capa_1"
                                                viewBox="0 0 515.556 515.556">
                                                <path
                                                    d="m0 274.226 176.549 176.886 339.007-338.672-48.67-47.997-290.337 290-128.553-128.552z">
                                                </path>
                                            </svg>
                                        </span>
                                        <span class="list-text-12">ITIL-compliant service management

                                        </span>
                                    </li>
                                </ul>
                                <!-- <div class="space-30"></div>
                                <div class="space-5"></div> -->

                            </div>
                        </div>
                    </div>
                    <div class="space-40 d-none d-md-block"></div>
                    <div class="space-60"></div>
                    <div class="row">
                        <div class="col-lg-6 align-self-center mb-5 mb-lg-0">
                            <h2>Back Office Services
                            </h2>
                            <div class="space-5"></div>
                            <p>Our back-office solutions streamline data entry, finance, and administrative tasks,
                                improving accuracy, efficiency, and scalability while reducing operational costs for
                                your business.
                            </p>
                            <div class="space-5"></div>
                            <ul class="list-12 style-none pl-0">
                                <li class="d-flex">
                                    <span class="list-icon-12 align-self-center">
                                        <svg xmlns="http://www.w3.org/2000/svg" id="Capa_1"
                                            viewBox="0 0 515.556 515.556">
                                            <path
                                                d="m0 274.226 176.549 176.886 339.007-338.672-48.67-47.997-290.337 290-128.553-128.552z">
                                            </path>
                                        </svg>
                                    </span>
                                    <span class="list-text-12">Data entry, processing, and verification
                                    </span>
                                </li>
                                <li class="d-flex">
                                    <span class="list-icon-12 align-self-center">
                                        <svg xmlns="http://www.w3.org/2000/svg" id="Capa_1"
                                            viewBox="0 0 515.556 515.556">
                                            <path
                                                d="m0 274.226 176.549 176.886 339.007-338.672-48.67-47.997-290.337 290-128.553-128.552z">
                                            </path>
                                        </svg>
                                    </span>
                                    <span class="list-text-12">Finance and accounting support</span>
                                </li>
                                <li class="d-flex">
                                    <span class="list-icon-12 align-self-center">
                                        <svg xmlns="http://www.w3.org/2000/svg" id="Capa_1"
                                            viewBox="0 0 515.556 515.556">
                                            <path
                                                d="m0 274.226 176.549 176.886 339.007-338.672-48.67-47.997-290.337 290-128.553-128.552z">
                                            </path>
                                        </svg>
                                    </span>
                                    <span class="list-text-12">Document management and compliance
                                    </span>
                                </li>

                                <li class="d-flex">
                                    <span class="list-icon-12 align-self-center">
                                        <svg xmlns="http://www.w3.org/2000/svg" id="Capa_1"
                                            viewBox="0 0 515.556 515.556">
                                            <path
                                                d="m0 274.226 176.549 176.886 339.007-338.672-48.67-47.997-290.337 290-128.553-128.552z">
                                            </path>
                                        </svg>
                                    </span>
                                    <span class="list-text-12">Scalable staffing for seasonal or cyclical needs

                                    </span>
                                </li>
                            </ul>
                            <!-- <div class="space-30"></div>
                            <div class="space-5"></div> -->

                        </div>
                        <div class="col-lg-6 text-right">
                            <div class="service12-img-3">
                                <div class="service-img5-position-12">
                                    <img src="assets/images/background/home12-shape5.png" alt="">
                                </div>
                                <div class="service-img6-position-12">
                                    <img src="assets/images/background/home12-shape7.png" alt="">
                                </div>
                                <img src="assets/images/services/technology-services/back-office-services.webp" alt="">
                            </div>
                        </div>
                    </div>

                </div>
            </section>

            <!--  Industries We Serve start -->
            <section class="section-industris about-team">
                <div class="container">
                    <div class="col-md-12 text-center">
                        <div class="ot-heading">
                            <span>How It Works —</span>
                            <h2 class="main-heading"> From Discovery to Delivery

                            </h2>
                            <p>A Smart, User-First Journey to Crafting Powerful, Scalable Apps That Deliver
                            </p>
                        </div>
                    </div>
                </div>
                <div class="container-fluid">
                    <div class="ot-industries">
                        <div class="owl-carousel owl-theme industries-inner ot-industries-slider owl-loaded owl-drag">
                            <div class="owl-stage-outer">
                                <div class="owl-stage"
                                    style="transform: translate3d(-1650px, 0px, 0px); transition: all; width: 7330px; padding-left: 365px; padding-right: 365px;">


                                    <!-- <div class="owl-item cloned" style="width: 412.5px;">
                                        <a href="finance-and-fintech.php">
                                            <div class="indus-item">
                                                <div class="item-inner">
                                                    <div class="overlay"></div>
                                                    <div class="i-image">
                                                        <img src="assets/images/b-image.png" alt="">
                                                    </div>
                                                    <div class="iinfo">
                                                        <h6>Custom Software Development
                                                        </h6>
                                                        <div class="itext">
                                                            We build scalable, secure, and fully customized software
                                                            tailored to your unique business needs, ensuring seamless
                                                            integration, high performance, and long-term value across
                                                            various platforms and industries.

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>  -->
                                    <div class="owl-item cloned" style="width: 412.5px;">
                                        <a>
                                            <div class="indus-item">
                                                <div class="item-inner">
                                                    <div class="overlay"></div>
                                                    <div class="i-image">
                                                        <img src="assets/images/text-img/n.webp" alt="">
                                                    </div>
                                                    <div class="iinfo">
                                                        <h6>Needs Assessment & Strategy Alignment
                                                        </h6>
                                                        <div class="itext">
                                                            We engage with stakeholders to understand goals, assess
                                                            systems, and define technical and functional requirements.
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="owl-item cloned" style="width: 412.5px;">
                                        <a>
                                            <div class="indus-item">
                                                <div class="item-inner">
                                                    <div class="overlay"></div>
                                                    <div class="i-image">
                                                        <img src="assets/images/text-img/s.webp" alt="">
                                                    </div>
                                                    <div class="iinfo">
                                                        <h6> Solution Design & Development

                                                        </h6>
                                                        <div class="itext">
                                                            Our cross-functional teams architect and build customized
                                                            solutions aligned with your business needs and timelines.


                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>

                                    <div class="owl-item active" style="width: 412.5px;">
                                        <a>
                                            <div class="indus-item">
                                                <div class="item-inner">
                                                    <div class="overlay"></div>
                                                    <div class="i-image">
                                                        <img src="assets/images/text-img/i.webp" alt="">
                                                    </div>
                                                    <div class="iinfo">
                                                        <h6>Implementation & Integration
                                                        </h6>
                                                        <div class="itext">
                                                            Seamless deployment with minimal disruption, robust testing,
                                                            and end-user training to ensure high adoption.
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>

                                    <div class="owl-item" style="width: 412.5px;">
                                        <a>
                                            <div class="indus-item">
                                                <div class="item-inner">
                                                    <div class="overlay"></div>
                                                    <div class="i-image">
                                                        <img src="assets/images/text-img/o.webp" alt="">
                                                    </div>
                                                    <div class="iinfo">
                                                        <h6>Optimization & Support
                                                        </h6>
                                                        <div class="itext">
                                                            Ongoing monitoring, performance tuning, and continuous
                                                            improvement keep your solutions aligned with changing
                                                            demands.
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!--  Industries We Serve end -->

            <!-- faq's -->

            <section class="faq">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 text-center">
                            <div class="ot-heading">
                                <span> FAQ —</span>
                                <h2 class="main-heading">Frequently Asked Questions</h2>
                            </div>
                            <div class="space-25"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="ot-accordions">
                                <div class="acc-item current">
                                    <span class="acc-toggle">What industries do you specialize in?


                                        <i class="down flaticon-download-arrow"></i><i class="up flaticon-up-arrow"></i>
                                    </span>
                                    <div class="acc-content active" style="display: block;">
                                        <p> We serve a wide range, including finance, healthcare, retail, logistics, and
                                            manufacturing, with tailored approaches for each.

                                        </p>
                                    </div>
                                </div>
                                <div class="acc-item">
                                    <span class="acc-toggle">Do you offer custom AI/ML development or pre-built tools?


                                        <i class="down flaticon-download-arrow"></i><i class="up flaticon-up-arrow"></i>
                                    </span>
                                    <div class="acc-content" style="">
                                        <p> Both. We build models from the ground up and also integrate leading
                                            frameworks like TensorFlow, PyTorch, and Azure AI.

                                        </p>
                                    </div>
                                </div>
                                <div class="acc-item">
                                    <span class="acc-toggle">Is Trebecon a certified partner for any platforms?

                                        <i class="down flaticon-download-arrow"></i><i class="up flaticon-up-arrow"></i>
                                    </span>
                                    <div class="acc-content" style="">
                                        <p>Yes. We are certified partners for AWS, Microsoft Azure, Google Cloud, and
                                            several ERP and cybersecurity providers.

                                        </p>
                                    </div>
                                </div>
                                <div class="acc-item">
                                    <span class="acc-toggle">How do you ensure data security and compliance?

                                        <i class="down flaticon-download-arrow"></i><i class="up flaticon-up-arrow"></i>
                                    </span>
                                    <div class="acc-content" style="">
                                        <p> We follow industry-standard protocols and regulatory requirements,
                                            incorporating end-to-end encryption, access control, and regular audits.

                                        </p>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </section>

        </div>

    </div>

</div>