<div class="royal_preloader">
    <div id="page" class="site">

        <div id="content" class="site-content">
            <div class="page-header flex-middle">
                <div class="container">
                    <div class="inner flex-middle">
                        <h1 class="page-title">About Us</h1>
                        <ul id="breadcrumbs" class="breadcrumbs none-style">
                            <li><a routerLink="/">Home</a></li>
                            <li class="active">About Us</li>
                        </ul>
                    </div>
                </div>
            </div>

            <section class="about-team">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 align-self-center mb-lg-0">
                            <div class="ot-heading">
                                <!-- <span>// what we offer</span> -->
                                <h2 class="main-heading">Vision</h2>
                                <!-- <P>Shaping the Future with AI & ML</P> -->
                            </div>
                            <div class="space-5"></div>
                            <p>Our vision is to set the standard for excellence by uniting technology, talent, and
                                trust. We are committed to leveraging advanced technologies while building lasting
                                partnerships that extend beyond individual projects. Through a blend of innovation and
                                integrity, we consistently deliver business outcomes that surpass expectations and
                                define industry leadership.

                            </p>

                            <div class="ot-heading">
                                <h2 class="main-heading">Mission</h2>

                            </div>
                            <div class="space-5"></div>
                            <p>Our mission is grounded in integrity, collaboration, and performance. We are dedicated to
                                delivering exceptional consultancy and IT services that adapt to the evolving needs of
                                our clients. By developing cost-effective, agile solutions, we aim to drive measurable
                                impact across every engagement. We prioritize building long-term relationships based on
                                trust, transparency, and mutual success, while fostering a dynamic workplace culture
                                that encourages innovation, teamwork, and growth.

                            </p>
                            <!-- <div class="space-20"></div> -->
                            <!-- <div class="video-popup style-2">
                                <div class="btn-inner">
                                    <a class="btn-play" href="https://www.youtube.com/watch?v=lfDZJqSrIuk">
                                        <i class="flaticon-play"></i>
                                        <span class="circle-1"></span>
                                        <span class="circle-2"></span>
                                    </a>
                                </div>
                                <span>video showcase</span>
                            </div> -->
                        </div>
                        <div class="col-lg-6">
                            <div class="row">
                                <div class="col-lg-6 col-md-6">
                                    <a class="ot-image-box v3 st1">
                                        <!-- <div class="overlay">
                                            <h4>Our Mission</h4>
                                        </div> -->
                                        <img src="assets/images/about-us/mission.webp" alt="Our Mission">
                                    </a>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <a class="ot-image-box v3 st2">
                                        <!-- <div class="overlay">
                                            <h4>Our Vision</h4>
                                        </div> -->
                                        <img src="assets/images/about-us/mission-01.webp" alt="Our Vision">
                                    </a>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <a class="ot-image-box v3 st3">
                                        <!-- <div class="overlay">
                                            <h4>Our Philosophy</h4>
                                        </div> -->
                                        <img src="assets/images/about-us/vision.webp" alt="Our Philosophy">
                                    </a>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <a class="ot-image-box v3 st4 mb-0">
                                        <!-- <div class="overlay">
                                            <h4>Our Strategy</h4>
                                        </div> -->
                                        <img src="assets/images/about-us/vision-01.webp" alt="Our Strategy">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>



            <section class="about-bottom">
                <div class="container">
                    <div class="row col-rev">
                        <div class="col-lg-6 col-md-12 align-self-center z-index-ceo">
                            <img src="assets/images/about-us/trebecon-ceo.webp" alt="">

                        </div>
                        <div class="col-lg-6 col-md-12 align-self-center z-index-ceo">
                            <div class="ot-heading">
                                <span> About our CEO  —</span>
                                <h2 class="main-heading"> Umashankar Peddireddi
                                </h2>
                            </div>
                            <p class="mb-15">Umashankar Peddireddi is a seasoned technology leader with over 15 years of
                                experience in customer-centric innovation and developing secure IT solutions. He has
                                earned his master’s degree in information systems from Arizona State University
                                (1998-2001) in .NET, cloud infrastructure, and leadership in project and program
                                management
                            </p>
                            <p>
                                Being the CEO of TREBECON, he has introduced a strategic mindset for the IT leaders of
                                the company to accomplish the mission via cutting-edge technological advancement. He
                                laid a strong foundation stone of cloud-native architectures in Trebecon, using his
                                specialization in the design and execution of serverless web apps on the AWS cloud.
                            </p>
                            <p>
                                His expertise in full-stack engineering brought robust software solutions tailored to
                                other business needs across different industries, viz., healthcare, finance, and
                                technology.
                            </p>



                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 mt-5 mb-3">
                            <h4 class="text-center">He is shaping the future of IT on a global scale</h4>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6">
                            <div class="icon-box-s1">

                                <div class="line-box"></div>
                                <p>Globally admired for exceptional business ownership, combining technical expertise
                                    with strong business foresight.
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6">
                            <div class="icon-box-s1">


                                <div class="line-box"></div>
                                <p>Recognized as a revolutionary force in the IT sector due to extensive knowledge of
                                    innovation paired with commercial value.

                                </p>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6">
                            <div class="icon-box-s1">


                                <div class="line-box"></div>
                                <p>Under his visionary leadership, Trebecon has become synonymous with innovation and
                                    technological advancement.

                                </p>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6">
                            <div class="icon-box-s1">


                                <div class="line-box"></div>
                                <p>Leadership driven by integrity, agility, and a relentless pursuit of excellence.




                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>


            <section class="about-v5 about-team">
                <div class="overlay overlay-image-about5"></div>
                <div class="container">
                    <div class="row col-rev">
                        <div class="col-lg-5 align-self-center">
                            <div class="pabout-left img-top">
                                <img src="assets/images/about-us/turning-challenges-into-catalysts.webp" alt="">
                            </div>
                        </div>
                        <div class="col-lg-7">
                            <div class="pabout-right">
                                <div class="ot-heading">
                                    <span> Our Journey —
                                    </span>
                                    <h2 class="main-heading">Turning Challenges Into Catalysts
                                    </h2>
                                </div>
                                <!-- <div class="tech-wrap">
                                    <a class="tech-box" href="it-services.html">
                                        <div class="icon-main"><span class="flaticon-php"></span></div>
                                    </a>
                                    <a class="tech-box" href="it-services.html">
                                        <div class="icon-main"><span class="flaticon-electron"></span></div>
                                    </a>
                                    <a class="tech-box" href="it.html">
                                        <div class="icon-main"><span class="flaticon-java"></span></div>
                                    </a>
                                    <a class="tech-box" href="it-services.html">
                                        <div class="icon-main"><span class="flaticon-css"></span></div>
                                    </a>
                                </div> -->
                                <h5 class="journey">Trebecon's Trailblazing Journey: From Humble Beginnings to Global
                                    Impact
                                </h5>
                                <p class="mb-2">Trebecon’s parent company began its journey in 2015 with a vision to
                                    drive industry transformation through technology. By 2020, we had established
                                    ourselves as a trusted technology partner to government agencies, insurance
                                    providers, and global enterprises. Strategic collaborations with Fortune 50 clients
                                    and international organizations fueled our rapid expansion and strengthened our
                                    market presence.<br>
                                    In 2022, despite significant market challenges, our commitment to resilience and
                                    innovation enabled a strong recovery. This momentum led to a threefold increase in
                                    both our office space and workforce by 2024. Today, Trebecon stands as a
                                    forward-looking company, combining global expertise with a deep passion for
                                    delivering world-class IT solutions.

                                </p>


                                <!-- <p class="mb-2"><strong class="text-white fw-blod">Predictive Analytics </strong>
                                    Improve your business performance by utilizing the best ML models for trend
                                    analysis, operation improvement, and thorough decision-making.</p>
                                <p class="mb-2"><strong class="text-white fw-blod">AI-Driven Business Transformation
                                    </strong>Transform your business with the application of artificial intelligence,
                                    automation of tasks, improvement of the customer interface, and innovation.</p>
                                <p class="mb-2"><strong class="text-white fw-blod">Workforce Solutions </strong>Tailored
                                    talent solutions, from recruitment to payroll, ensuring your business thrives with
                                    the right people in the right roles.</p>  -->

                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- the trebecon system different starts -->

            <section class="service-v5 about-team">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-1">
                        </div>
                        <div class="col-lg-10 text-center">
                            <div class="ot-heading">
                                <span> our services —</span>
                                <h2 class="main-heading">What Sets Us Apart?</h2>
                                <p>We deliver customized, innovative technology solutions through expert teams,
                                    prioritizing client needs and ensuring smooth, risk-free project execution.

                                </p>
                            </div>
                        </div>
                        <div class="col-lg-1">
                        </div>
                    </div>
                    <div class="space-30"></div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 mb-30">
                            <div class="icon-box-s2 s2 border-s1 bg bg1 text-center">
                                <div class="icon-main img">
                                    <img src="assets/images/icons/about-us/innovative-solutions.svg"
                                        alt="Trebecon Difference">
                                </div>
                                <div class="content-box">
                                    <h5><a>Innovative Solutions
                                        </a></h5>
                                    <p>We develop bespoke technologies designed to tackle complex challenges, ensuring
                                        every solution is scalable, adaptable, and built with the future in mind.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 mb-30">
                            <div class="icon-box-s2 s2 border-s1 bg bg2 text-center">
                                <div class="icon-main img"> <img src="assets/images/icons/about-us/expert-team.svg"
                                        alt="Trebecon Difference"></div>
                                <div class="content-box">
                                    <h5><a>Expert Team
                                        </a></h5>
                                    <p> Our specialists combine in-depth industry expertise with technical proficiency
                                        to consistently deliver high-impact results across diverse domains.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 mb-30">
                            <div class="icon-box-s2 s2 border-s1 bg bg3 text-center">
                                <div class="icon-main img"> <img src="assets/images/icons/about-us/client-approach.svg"
                                        alt="Trebecon Difference"></div>
                                <div class="content-box">
                                    <h5><a>Client-Centric Approach
                                        </a></h5>
                                    <p>We take time to understand each client’s unique business landscape, maintain open
                                        and honest communication, and focus on building lasting, value-driven
                                        relationships.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 mb-30">
                            <div class="icon-box-s2 s2 border-s1 bg bg3 text-center">
                                <div class="icon-main img"> <img
                                        src="assets/images/icons/about-us/seamless-execution.svg"
                                        alt="Trebecon Difference"></div>
                                <div class="content-box">
                                    <h5><a>Seamless Execution
                                        </a></h5>
                                    <p> From initial strategy to final deployment, our agile methodologies ensure smooth
                                        delivery, reduced risk, and outcomes that align closely with business
                                        objectives.

                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>



            <section class="about-counter about-team">
                <div class="container">
                    <!-- <div class="row">
                        <div class="col-lg-12">
                            <div class="s-counter4 m-0 py-5">
                                <div class="row">
                                    <div class="col-lg-3 col-md-6 col-sm-6 text-center mb-4 mb-lg-0">
                                        <div class="ot-counter text-white">
                                            <div>
                                                <span class="num" data-to="330" data-time="2000">0</span>
                                                <span>+</span>
                                            </div>
                                            <h6 class="text-white">active Clients</h6>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-6 col-sm-6 text-center mb-4 mb-lg-0">
                                        <div class="ot-counter text-white">
                                            <div>
                                                <span class="num" data-to="850" data-time="2000">0</span>
                                                <span>+</span>
                                            </div>
                                            <h6 class="text-white">projects done</h6>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-6 col-sm-6 text-center mb-4 mb-sm-0">
                                        <div class="ot-counter text-white">
                                            <div>
                                                <span class="num" data-to="25" data-time="2000">0</span>
                                                <span>+</span>
                                            </div>
                                            <h6 class="text-white">team advisors</h6>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-6 col-sm-6 text-center">
                                        <div class="ot-counter text-white">
                                            <div>
                                                <span class="num" data-to="10" data-time="2000">0</span>
                                                <span>+</span>
                                            </div>
                                            <h6 class="text-white">Glorious Years</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> -->

                    <div class="row"  >

                        <div class="col-lg-6">
                            <div class="technology-v3-left">
                                <div class="ot-heading">
                                    <span> Trebecon Edge —</span>
                                    <h2 class="main-heading">Improve and Innovate with the Tech Trends</h2>
                                </div>
                                <div class="space-5"></div>
                                <p>We assemble and empower your dedicated remote teams, crafted to match your unique
                                    business goals and challenges.

                                </p>
                                <div class="space-10"></div>
                                <div class="et-progress">
                                    <div class="ot-progress">
                                        <div class="overflow">
                                            <span class="pname f-left">Custom Team Building</span>
                                            <span class="ppercent f-right">70%</span>
                                        </div>
                                        <div class="iprogress">
                                            <div class="progress-bar" data-percent="70%"></div>
                                        </div>
                                    </div>
                                    <div class="ot-progress">
                                        <div class="overflow">
                                            <span class="pname f-left">Business-Driven Solutions</span>
                                            <span class="ppercent f-right">90%</span>
                                        </div>
                                        <div class="iprogress">
                                            <div class="progress-bar" data-percent="90%"></div>
                                        </div>
                                    </div>
                                    <div class="ot-progress">
                                        <div class="overflow">
                                            <span class="pname f-left">Empowered Remote Workforce</span>
                                            <span class="ppercent f-right">60%</span>
                                        </div>
                                        <div class="iprogress">
                                            <div class="progress-bar" data-percent="60%"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <img src="assets/images/about-us/improve-and-innovate.webp" alt="">
                        </div>
                    </div>
                </div>
            </section>



        </div>


    </div>
</div>