<div class="royal_preloader">
    <div id="page" class="site">

        <div id="content" class="site-content">
            <div class="page-header flex-middle">
                <div class="container">
                    <div class="inner flex-middle">
                        <h1 class="page-title">Data Analytics</h1>
                        <ul id="breadcrumbs" class="breadcrumbs none-style">
                            <li><a routerLink="/">Home</a></li>
                            <li class="active">Data Analytics</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>


        <section class="section-business">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5">
                        <div class="ot-heading mb-0">
                            <!-- <span>// Trebecon</span> -->
                            <h2 class="main-heading"> Transforming Data into Strategic Insights

                            </h2>

                        </div>
                    </div>
                    <div class="col-lg-7 align-self-end">
                        <p class="mb-0">Data and analytics at Trebecon empower informed decision-making by transforming
                            raw data into actionable insights. Through advanced tools and techniques, Trebecon helps
                            organizations collect, process, and analyze data to identify trends, improve performance,
                            and drive strategic growth, ensuring competitive advantage in today’s data-driven business
                            landscape.


                        </p>

                    </div>
                </div>
            </div>
        </section>

        <section class="section-clent-h2">
            <div class="container">
                <div class="row mt--290 justify-content-center">
                    <div class="col-lg-4 col-md-6 col-sm-12 mb-4 mb-lg-0">
                        <div class="support-box">
                            <div class="inner-box">
                                <div class="overlay flex-middle">
                                    <span class="number-box">01</span>
                                    <div class="inner">

                                        <p> Snowflake, Amazon Redshift, Google BigQuery
                                        </p>
                                        <!-- <a class="btn-details"><i
                                                    class="flaticon-right-arrow-1"></i> LEARN MORE</a> -->
                                    </div>
                                </div>
                                <div class="content-box">
                                    <span class="number-box">01</span>
                                    <h3>Data Warehousing

                                    </h3>
                                    <img src="assets/images/technologies/data-analytics/data-warehouseing.webp" alt="Outsoursing">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 mb-4 mb-lg-0">
                        <div class="support-box">
                            <div class="inner-box">
                                <div class="overlay flex-middle">
                                    <span class="number-box">02</span>
                                    <div class="inner">
                                        <p> Apache Airflow, Talend, Informatica

                                        </p>
                                        <!-- <a href="web-development.html" class="btn-details"><i
                                                    class="flaticon-right-arrow-1"></i> LEARN MORE</a> -->
                                    </div>
                                </div>
                                <div class="content-box">
                                    <span class="number-box">02</span>
                                    <h3>ETL Pipelines</h3>
                                    <img src="assets/images/technologies/data-analytics/piplinnes.webp" alt="Custom Software">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="support-box">
                            <div class="inner-box">
                                <div class="overlay flex-middle">
                                    <span class="number-box">03</span>
                                    <div class="inner">
                                        <p>Power BI, Tableau, Looker
                                        </p>
                                        <!-- <a href="mobile-development.html" class="btn-details"><i
                                                    class="flaticon-right-arrow-1"></i> LEARN MORE</a> -->
                                    </div>
                                </div>
                                <div class="content-box">
                                    <span class="number-box">03</span>
                                    <h3>Visualization Tools</h3>
                                    <img src="assets/images/technologies/data-analytics/visualization-tools.webp" alt="Product Design">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



            </div>
        </section>

        <section class="about-team" id="power-bi">
            <div class="container">

                <div class="row">
                    <div class="col-lg-6 align-self-center mb-5 mb-lg-0">
                        <h2>Power BI
                        </h2>
                        <div class="space-5"></div>
                        <p>A leading business intelligence platform from Microsoft, <strong>Power BI </strong> enables
                            organizations to
                            create interactive dashboards, visual reports, and real-time data models.

                        </p>
                        <div class="space-5"></div>
                        <ul class="list-12 style-none pl-0">
                            <li class="d-flex">
                                <span class="list-icon-12 align-self-center">
                                    <svg xmlns="http://www.w3.org/2000/svg" id="Capa_1" viewBox="0 0 515.556 515.556">
                                        <path
                                            d="m0 274.226 176.549 176.886 339.007-338.672-48.67-47.997-290.337 290-128.553-128.552z">
                                        </path>
                                    </svg>
                                </span>
                                <span class="list-text-12">Native integration with Microsoft 365, Excel, and Azure
                                </span>
                            </li>
                            <li class="d-flex">
                                <span class="list-icon-12 align-self-center">
                                    <svg xmlns="http://www.w3.org/2000/svg" id="Capa_1" viewBox="0 0 515.556 515.556">
                                        <path
                                            d="m0 274.226 176.549 176.886 339.007-338.672-48.67-47.997-290.337 290-128.553-128.552z">
                                        </path>
                                    </svg>
                                </span>
                                <span class="list-text-12">Robust DAX engine for deep data modeling

                                </span>
                            </li>
                            <li class="d-flex">
                                <span class="list-icon-12 align-self-center">
                                    <svg xmlns="http://www.w3.org/2000/svg" id="Capa_1" viewBox="0 0 515.556 515.556">
                                        <path
                                            d="m0 274.226 176.549 176.886 339.007-338.672-48.67-47.997-290.337 290-128.553-128.552z">
                                        </path>
                                    </svg>
                                </span>
                                <span class="list-text-12">Embedded analytics for internal and customer-facing apps



                                </span>
                            </li>
                            <li class="d-flex">
                                <span class="list-icon-12 align-self-center">
                                    <svg xmlns="http://www.w3.org/2000/svg" id="Capa_1" viewBox="0 0 515.556 515.556">
                                        <path
                                            d="m0 274.226 176.549 176.886 339.007-338.672-48.67-47.997-290.337 290-128.553-128.552z">
                                        </path>
                                    </svg>
                                </span>
                                <span class="list-text-12">Secure data governance with row-level security and Azure AD

                                </span>
                            </li>
                        </ul>
                        <p>Trebecon designs and deploys Power BI solutions that help teams visualize trends, monitor
                            KPIs, and drive data-informed decisions.
                        </p>

                    </div>
                    <div class="col-lg-6 text-right">
                        <div class="service12-img-1">
                            <img src="assets/images/technologies/data-analytics/power-bi.webp" alt="">
                            <div class="service-img1-position-12">
                                <img src="assets/images/background/home12-shape3.png" alt="">
                            </div>
                            <div class="service-img2-position-12">
                                <img src="assets/images/background/home12-shape4.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="about-v5 about-team" id="tableau">

            <div class="container">
                <div class="row">
                    <div class="col-lg-12">

                        <div class="ot-heading">
                            <!-- <span>// Our Journey
                                </span> -->
                            <h2 class="main-heading text-white">Tableau

                            </h2>
                        </div>


                        <p class="mb-2"><strong class="text-white">Tableau is known for its rich
                                visualization capabilities, making complex data accessible and actionable across the
                                enterprise.</strong> 

                        </p>
                        <ul class="list-style-i9 white">
                            <li><i class="far fa-circle"></i><span>Drag-and-drop interface for fast, intuitive
                                    analysis
                                </span></li>
                            <li><i class="far fa-circle"></i><span>Connects to a wide range of data sources—cloud,
                                    on-prem, live, or extracted
                                    standards</span></li>
                            <li><i class="far fa-circle"></i><span>Interactive dashboards with drill-down
                                    capabilities

                                </span></li>
                            <li><i class="far fa-circle"></i><span>Advanced analytics features, including
                                    forecasting and clustering

                                </span></li>
                        </ul>


                        <p><strong class="text-white"> We use Tableau to help clients tell compelling data stories, whether through executive
                            dashboards or interactive analytics apps.</strong></p>




                    </div>
                </div>
            </div>
        </section>

        <section class="about-team" id="snowflake">
            <div class="container">
                <div class="row">

                    <div class="col-lg-6 align-self-center mb-5 mb-lg-0">
                        <h2>Snowflake

                        </h2>
                        <div class="space-5"></div>
                        <p>As a cloud-native data platform,
                            <strong> Snowflake </strong>revolutionizes how businesses store, query, and
                            share massive amounts of data securely and at scale.

                        </p>
                        <div class="space-5"></div>
                        <ul class="list-12 style-none pl-0">
                            <li class="d-flex">
                                <span class="list-icon-12 align-self-center">
                                    <svg xmlns="http://www.w3.org/2000/svg" id="Capa_1" viewBox="0 0 515.556 515.556">
                                        <path
                                            d="m0 274.226 176.549 176.886 339.007-338.672-48.67-47.997-290.337 290-128.553-128.552z">
                                        </path>
                                    </svg>
                                </span>
                                <span class="list-text-12">Fully managed, elastic cloud data warehouse
                                </span>
                            </li>
                            <li class="d-flex">
                                <span class="list-icon-12 align-self-center">
                                    <svg xmlns="http://www.w3.org/2000/svg" id="Capa_1" viewBox="0 0 515.556 515.556">
                                        <path
                                            d="m0 274.226 176.549 176.886 339.007-338.672-48.67-47.997-290.337 290-128.553-128.552z">
                                        </path>
                                    </svg>
                                </span>
                                <span class="list-text-12">Supports structured and semi-structured data (JSON, Avro,
                                    Parquet)
                                </span>
                            </li>
                            <li class="d-flex">
                                <span class="list-icon-12 align-self-center">
                                    <svg xmlns="http://www.w3.org/2000/svg" id="Capa_1" viewBox="0 0 515.556 515.556">
                                        <path
                                            d="m0 274.226 176.549 176.886 339.007-338.672-48.67-47.997-290.337 290-128.553-128.552z">
                                        </path>
                                    </svg>
                                </span>
                                <span class="list-text-12">Multi-cluster architecture for high performance and
                                    concurrency

                                </span>
                            </li>
                            <li class="d-flex">
                                <span class="list-icon-12 align-self-center">
                                    <svg xmlns="http://www.w3.org/2000/svg" id="Capa_1" viewBox="0 0 515.556 515.556">
                                        <path
                                            d="m0 274.226 176.549 176.886 339.007-338.672-48.67-47.997-290.337 290-128.553-128.552z">
                                        </path>
                                    </svg>
                                </span>
                                <span class="list-text-12">Seamless data sharing across teams, partners, and regions

                                </span>
                            </li>
                        </ul>
                        <p>Trebecon implements Snowflake to centralize data architecture, reduce infrastructure
                            complexity, and enable real-time, cross-functional analytics.

                        </p>

                    </div>
                    <div class="col-lg-6 align-self-center mb-5 mb-lg-0">
                        <div class="service12-img-2">
                            <div class="service-img3-position-12">
                                <img src="assets/images/background/home12-shape5.png" alt="">
                            </div>
                            <div class="service-img4-position-12">
                                <img src="assets/images/background/home12-shape6.png" alt="">
                            </div>
                            <img src="assets/images/technologies/data-analytics/snowflake.webp" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>
 

</div>