<div class="royal_preloader">
    <div id="page" class="site">

        <div id="content" class="site-content">
            <div class="page-header flex-middle">
                <div class="container">
                    <div class="inner flex-middle">
                        <h1 class="page-title">Software Development Services</h1>
                        <ul id="breadcrumbs" class="breadcrumbs none-style">
                            <li><a routerLink="/">Home</a></li>
                            <li class="active">Software Development Services</li>
                        </ul>
                    </div>
                </div>
            </div>

            <section class="about-top" id="fixed-cost-product-solutions">
                <div class="container">

                    <div class="row d-flex">
                        <div class="col-xl-4">

                            <h2>
                                Fixed-Cost Product Solutions
                            </h2>
                            <p class="pt-2">We specialize in building high-quality, custom software solutions tailored
                                to our clients’ business needs. Our delivery model ensures accountability, transparency,
                                and results.
                            </p>


                        </div>

                        <div class="col-xl-8">
                            <div class="row">
                                <div class="col-xl-12">
                                    <div class="icon-box-s2 s1 i10 active">
                                        <div class="icon-main">
                                            <img src="assets/images/icons/services/software-development-services/fixed-bid-project.svg"
                                                alt="Microsoft Azure" width="50px" height="50px">
                                        </div>
                                        <div class="content-box">
                                            <h5>Fixed Bid Projects</h5>
                                            <p> We take complete ownership of the project scope, timeline, and quality
                                                under a
                                                fixed-price agreement. This model is ideal for clearly defined
                                                requirements and
                                                ensures on-time, on-budget delivery.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-12">
                                    <div class="icon-box-s2 s1 i10">
                                        <div class="icon-main">
                                            <img src="assets/images/icons/services/software-development-services/product-devlopment-licensing.svg"
                                                alt="Microsoft Azure" width="50px" height="50px">
                                        </div>
                                        <div class="content-box">
                                            <h5>Product Development & Licensing</h5>
                                            <p> We also build innovative, ready-to-deploy software products in-house and
                                                offer
                                                them to clients through licensing or direct purchase. These solutions
                                                are
                                                designed to solve real-world problems and accelerate digital
                                                transformation.
                                            </p>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </section>

        <section class="app-offer about-top">
            <div class="overlay overlay-image"></div>
            <div class="container">
                <div class="row col-rev">
                    <div class="col-lg-6">
                        <img src="assets/images/services/software-development/tailored-software.webp" alt=""
                            class="rounded">
                    </div>
                    <div class="col-lg-6 align-self-center">
                        <div class="right-about-v4">
                            <div class="ot-heading">
                                <span>Crafting Code, Building Dreams —</span>
                                <h2 class="main-heading"> Tailored Software for Every
                                    Vision
                                </h2>
                            </div>
                            <div class="space-5"></div>
                            <p>We craft innovative, scalable, and custom software solutions that transform ideas
                                into reality. From startups to enterprises, our expert developers build robust
                                applications tailored to your vision, empowering your business with technology that
                                evolves, adapts, and leads the future.

                            </p>

                            <!-- <div class="ot-button">
                                    <a href="#" class="octf-btn octf-btn-primary">all sevices</a>
                                </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <!-- Why Choose trebecon? start -->
        <section class="service-v5 about-top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <div class="ot-heading">
                            <span> The Perks — </span>
                            <h2 class="main-heading">Why choose Trebecon for Software <br />development services?
                            </h2>
                            <p>Our Innovative and reliable software solutions are tailored to your business success.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="space-30"></div>
                <div class="row">
                    <div class="col-lg-6 col-md-6 mb-30">
                        <div class="icon-box-s2 s2 border-s1 bg bg1 software-dev text-center h-100">
                            <div class="icon-main img">
                                <img src="assets/images/icons/services/software-development-services/trusted-developers.svg"
                                    alt="icon1">

                            </div>
                            <div class="content-box">
                                <h5><a> Trusted and Skilled Developers
                                    </a></h5>
                                <p> Our experienced team delivers reliable, efficient, and scalable software
                                    solutions tailored to meet your business challenges and opportunities.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 mb-30">
                        <div class="icon-box-s2 s2 border-s1 bg bg2 software-dev text-center h-100">
                            <div class="icon-main img">
                                <img src="assets/images/icons/services/software-development-services/customized-software-solutions.svg"
                                    alt="icon1">
                            </div>
                            <div class="content-box">
                                <h5><a> Customized Software Solutions
                                    </a></h5>
                                <p> We design software specifically for your goals, ensuring every feature supports
                                    your operations, workflows, and long-term business growth.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 mb-30">
                        <div class="icon-box-s2 s2 border-s1 bg bg3 software-dev text-center h-100">
                            <div class="icon-main img">
                                <img src="assets/images/icons/services/software-development-services/agile-transparent-process.svg"
                                    alt="icon1">
                            </div>
                            <div class="content-box">
                                <h5><a>Agile and Transparent Process
                                    </a></h5>
                                <p> You stay informed with regular updates. Our agile workflow ensures fast
                                    iterations, client feedback, and a product that meets expectations.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 mb-30">
                        <div class="icon-box-s2 s2 border-s1 bg bg4 software-dev text-center h-100">
                            <div class="icon-main img">
                                <img src="assets/images/icons/services/software-development-services/ongoing-scalability.svg"
                                    alt="icon1">
                            </div>
                            <div class="content-box">
                                <h5><a> Ongoing Support and Scalability
                                    </a></h5>
                                <p> From launch to future upgrades, we provide continuous support and build software
                                    that scales with your growing business demands.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Why Choose trebecon? end -->



        <section class="about-top" id="custom-software-development">
            <div class="container">

                <div class="row">
                    <!-- <div class="offset-xl-2 col-xl-8 col-lg-12 text-center px-xl-5">
                            <h2> Our Key Services
                            </h2>
                            <div class="space-30"></div>
                        </div> -->
                    <div class="col-lg-6 align-self-center mb-5 mb-lg-0">
                        <h4>Custom Software Development
                        </h4>
                        <div class="space-5"></div>
                        <p>We build scalable, secure, and fully customized software tailored to your unique business
                            needs, ensuring seamless integration, high performance, and long-term value across
                            various platforms and industries.

                        </p>
                        <div class="space-5"></div>
                        <ul class="list-12 style-none pl-0">
                            <li class="d-flex">
                                <span class="list-icon-12 align-self-center">
                                    <svg xmlns="http://www.w3.org/2000/svg" id="Capa_1" viewBox="0 0 515.556 515.556">
                                        <path
                                            d="m0 274.226 176.549 176.886 339.007-338.672-48.67-47.997-290.337 290-128.553-128.552z">
                                        </path>
                                    </svg>
                                </span>
                                <span class="list-text-12">Tailored solutions designed to meet unique business
                                    requirements
                                </span>
                            </li>
                            <li class="d-flex">
                                <span class="list-icon-12 align-self-center">
                                    <svg xmlns="http://www.w3.org/2000/svg" id="Capa_1" viewBox="0 0 515.556 515.556">
                                        <path
                                            d="m0 274.226 176.549 176.886 339.007-338.672-48.67-47.997-290.337 290-128.553-128.552z">
                                        </path>
                                    </svg>
                                </span>
                                <span class="list-text-12">Scalable architecture for long-term growth and
                                    flexibility

                                </span>
                            </li>
                            <li class="d-flex">
                                <span class="list-icon-12 align-self-center">
                                    <svg xmlns="http://www.w3.org/2000/svg" id="Capa_1" viewBox="0 0 515.556 515.556">
                                        <path
                                            d="m0 274.226 176.549 176.886 339.007-338.672-48.67-47.997-290.337 290-128.553-128.552z">
                                        </path>
                                    </svg>
                                </span>
                                <span class="list-text-12">Seamless integration with existing tools and platforms
                                </span>
                            </li>
                            <li class="d-flex">
                                <span class="list-icon-12 align-self-center">
                                    <svg xmlns="http://www.w3.org/2000/svg" id="Capa_1" viewBox="0 0 515.556 515.556">
                                        <path
                                            d="m0 274.226 176.549 176.886 339.007-338.672-48.67-47.997-290.337 290-128.553-128.552z">
                                        </path>
                                    </svg>
                                </span>
                                <span class="list-text-12">Robust security and compliance by design

                                </span>
                            </li>
                        </ul>
                        <!-- <div class="space-30"></div>
                            <div class="space-5"></div> -->

                    </div>
                    <div class="col-lg-6 text-right">
                        <div class="service12-img-1">
                            <img src="assets/images/services/software-development/custom-software-development.webp"
                                alt="">
                            <div class="service-img1-position-12">
                                <img src="assets/images/background/home12-shape3.png" alt="">
                            </div>
                            <div class="service-img2-position-12">
                                <img src="assets/images/background/home12-shape4.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="about-top" id="mobile-app-development">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 align-self-center mb-5 mb-lg-0">
                        <div class="service12-img-2">
                            <div class="service-img3-position-12">
                                <img src="assets/images/background/home12-shape5.png" alt="">
                            </div>
                            <div class="service-img4-position-12">
                                <img src="assets/images/background/home12-shape6.png" alt="">
                            </div>
                            <img src="assets/images/services/software-development/mobile-development.webp" alt="">
                        </div>
                    </div>
                    <div class="col-lg-6 align-self-center order-first order-lg-last mb-5 mb-lg-0">
                        <div class="service12-content-2">
                            <h4>Mobile & Web App Development

                            </h4>
                            <div class="space-5"></div>
                            <p>Our team develops responsive, user-friendly mobile and web apps with intuitive UI/UX,
                                real-time functionality, and secure backend systems, optimized for cross-platform
                                performance and rapid deployment.

                            </p>
                            <div class="space-5"></div>
                            <ul class="list-12 style-none pl-0">
                                <li class="d-flex">
                                    <span class="list-icon-12 align-self-center">
                                        <svg xmlns="http://www.w3.org/2000/svg" id="Capa_1"
                                            viewBox="0 0 515.556 515.556">
                                            <path
                                                d="m0 274.226 176.549 176.886 339.007-338.672-48.67-47.997-290.337 290-128.553-128.552z">
                                            </path>
                                        </svg>
                                    </span>
                                    <span class="list-text-12">Cross-platform apps with native performance and
                                        responsive design

                                    </span>
                                </li>
                                <li class="d-flex">
                                    <span class="list-icon-12 align-self-center">
                                        <svg xmlns="http://www.w3.org/2000/svg" id="Capa_1"
                                            viewBox="0 0 515.556 515.556">
                                            <path
                                                d="m0 274.226 176.549 176.886 339.007-338.672-48.67-47.997-290.337 290-128.553-128.552z">
                                            </path>
                                        </svg>
                                    </span>
                                    <span class="list-text-12">Intuitive UI/UX for seamless user engagement

                                    </span>
                                </li>
                                <li class="d-flex">
                                    <span class="list-icon-12 align-self-center">
                                        <svg xmlns="http://www.w3.org/2000/svg" id="Capa_1"
                                            viewBox="0 0 515.556 515.556">
                                            <path
                                                d="m0 274.226 176.549 176.886 339.007-338.672-48.67-47.997-290.337 290-128.553-128.552z">
                                            </path>
                                        </svg>
                                    </span>
                                    <span class="list-text-12">Real-time data syncing and offline capabilities

                                    </span>
                                </li>

                                <li class="d-flex">
                                    <span class="list-icon-12 align-self-center">
                                        <svg xmlns="http://www.w3.org/2000/svg" id="Capa_1"
                                            viewBox="0 0 515.556 515.556">
                                            <path
                                                d="m0 274.226 176.549 176.886 339.007-338.672-48.67-47.997-290.337 290-128.553-128.552z">
                                            </path>
                                        </svg>
                                    </span>
                                    <span class="list-text-12">Secure APIs and backend connectivity


                                    </span>
                                </li>
                            </ul>
                            <!-- <div class="space-30"></div>
                                <div class="space-5"></div> -->

                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="about-top" id="cloud-devops-services">
            <div class="container">

                <div class="row">
                    <div class="col-lg-6 align-self-center mb-5 mb-lg-0">
                        <h4> Cloud & DevOps Services

                        </h4>
                        <div class="space-5"></div>
                        <p>We offer end-to-end cloud solutions and DevOps automation, including CI/CD pipelines,
                            infrastructure setup, monitoring, and scalability, ensuring faster deployments, lower
                            costs, and consistent operational efficiency.

                        </p>
                        <div class="space-5"></div>
                        <ul class="list-12 style-none pl-0">
                            <li class="d-flex">
                                <span class="list-icon-12 align-self-center">
                                    <svg xmlns="http://www.w3.org/2000/svg" id="Capa_1" viewBox="0 0 515.556 515.556">
                                        <path
                                            d="m0 274.226 176.549 176.886 339.007-338.672-48.67-47.997-290.337 290-128.553-128.552z">
                                        </path>
                                    </svg>
                                </span>
                                <span class="list-text-12">Cloud migration and infrastructure setup on AWS, Azure,
                                    or GCP

                                </span>
                            </li>
                            <li class="d-flex">
                                <span class="list-icon-12 align-self-center">
                                    <svg xmlns="http://www.w3.org/2000/svg" id="Capa_1" viewBox="0 0 515.556 515.556">
                                        <path
                                            d="m0 274.226 176.549 176.886 339.007-338.672-48.67-47.997-290.337 290-128.553-128.552z">
                                        </path>
                                    </svg>
                                </span>
                                <span class="list-text-12">CI/CD pipelines for faster, reliable deployments
                                </span>
                            </li>
                            <li class="d-flex">
                                <span class="list-icon-12 align-self-center">
                                    <svg xmlns="http://www.w3.org/2000/svg" id="Capa_1" viewBox="0 0 515.556 515.556">
                                        <path
                                            d="m0 274.226 176.549 176.886 339.007-338.672-48.67-47.997-290.337 290-128.553-128.552z">
                                        </path>
                                    </svg>
                                </span>
                                <span class="list-text-12">Infrastructure as Code (IaC) for repeatable environments



                                </span>
                            </li>

                            <li class="d-flex">
                                <span class="list-icon-12 align-self-center">
                                    <svg xmlns="http://www.w3.org/2000/svg" id="Capa_1" viewBox="0 0 515.556 515.556">
                                        <path
                                            d="m0 274.226 176.549 176.886 339.007-338.672-48.67-47.997-290.337 290-128.553-128.552z">
                                        </path>
                                    </svg>
                                </span>
                                <span class="list-text-12">Automated monitoring and incident response


                                </span>
                            </li>
                        </ul>
                        <!-- <div class="space-30"></div>
                            <div class="space-5"></div> -->

                    </div>
                    <div class="col-lg-6 text-right">
                        <div class="service12-img-3">
                            <div class="service-img5-position-12">
                                <img src="assets/images/background/home12-shape5.png" alt="">
                            </div>
                            <div class="service-img6-position-12">
                                <img src="assets/images/background/home12-shape7.png" alt="">
                            </div>
                            <img src="assets/images/services/software-development/cloud-services.webp" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </section>



        <section class="about-top" id="qa-automation">
            <div class="container">
                <div class="row d-flex aligb-items-center">
                    <div class="col-lg-6 align-self-center mb-5 mb-lg-0">
                        <div class="service12-img-2">
                            <div class="service-img3-position-12">
                                <img src="assets/images/background/home12-shape5.png" alt="">
                            </div>
                            <div class="service-img4-position-12">
                                <img src="assets/images/background/home12-shape6.png" alt="">
                            </div>
                            <img src="assets/images/services/software-development/qa-automation.webp" alt="">
                        </div>
                    </div>
                    <div class="col-lg-6 align-self-center order-first order-lg-last mb-5 mb-lg-0">
                        <div class="service12-content-2">
                            <h4> QA & Automation


                            </h4>
                            <div class="space-5"></div>
                            <p>From manual testing to full automation, we ensure product quality through rigorous
                                test cases, CI/CD integration, performance checks, and detailed reporting,
                                delivering flawless digital experiences.


                            </p>
                            <div class="space-5"></div>
                            <ul class="list-12 style-none pl-0">
                                <li class="d-flex">
                                    <span class="list-icon-12 align-self-center">
                                        <svg xmlns="http://www.w3.org/2000/svg" id="Capa_1"
                                            viewBox="0 0 515.556 515.556">
                                            <path
                                                d="m0 274.226 176.549 176.886 339.007-338.672-48.67-47.997-290.337 290-128.553-128.552z">
                                            </path>
                                        </svg>
                                    </span>
                                    <span class="list-text-12">Manual and automated testing for all platforms

                                    </span>
                                </li>
                                <li class="d-flex">
                                    <span class="list-icon-12 align-self-center">
                                        <svg xmlns="http://www.w3.org/2000/svg" id="Capa_1"
                                            viewBox="0 0 515.556 515.556">
                                            <path
                                                d="m0 274.226 176.549 176.886 339.007-338.672-48.67-47.997-290.337 290-128.553-128.552z">
                                            </path>
                                        </svg>
                                    </span>
                                    <span class="list-text-12">Integration with CI/CD tools for test efficiency

                                    </span>
                                </li>
                                <li class="d-flex">
                                    <span class="list-icon-12 align-self-center">
                                        <svg xmlns="http://www.w3.org/2000/svg" id="Capa_1"
                                            viewBox="0 0 515.556 515.556">
                                            <path
                                                d="m0 274.226 176.549 176.886 339.007-338.672-48.67-47.997-290.337 290-128.553-128.552z">
                                            </path>
                                        </svg>
                                    </span>
                                    <span class="list-text-12">Performance and load testing for high-traffic
                                        readiness




                                    </span>
                                </li>

                                <li class="d-flex">
                                    <span class="list-icon-12 align-self-center">
                                        <svg xmlns="http://www.w3.org/2000/svg" id="Capa_1"
                                            viewBox="0 0 515.556 515.556">
                                            <path
                                                d="m0 274.226 176.549 176.886 339.007-338.672-48.67-47.997-290.337 290-128.553-128.552z">
                                            </path>
                                        </svg>
                                    </span>
                                    <span class="list-text-12">Bug tracking and reporting with detailed insights



                                    </span>
                                </li>
                            </ul>
                            <!-- <div class="space-30"></div>
                                <div class="space-5"></div> -->

                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="about-team" id="data-analytics-ai">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 align-self-center mb-5 mb-lg-0">
                        <h4> Data Analytics & AI
                        </h4>
                        <div class="space-5"></div>
                        <p>Unlock insights with advanced analytics and AI solutions, including predictive models,
                            custom dashboards, machine learning, and natural language processing for data-driven
                            decision-making and automation.


                        </p>
                        <div class="space-5"></div>
                        <ul class="list-12 style-none pl-0">
                            <li class="d-flex">
                                <span class="list-icon-12 align-self-center">
                                    <svg xmlns="http://www.w3.org/2000/svg" id="Capa_1" viewBox="0 0 515.556 515.556">
                                        <path
                                            d="m0 274.226 176.549 176.886 339.007-338.672-48.67-47.997-290.337 290-128.553-128.552z">
                                        </path>
                                    </svg>
                                </span>
                                <span class="list-text-12">Predictive analytics for smarter forecasting and trends


                                </span>
                            </li>
                            <li class="d-flex">
                                <span class="list-icon-12 align-self-center">
                                    <svg xmlns="http://www.w3.org/2000/svg" id="Capa_1" viewBox="0 0 515.556 515.556">
                                        <path
                                            d="m0 274.226 176.549 176.886 339.007-338.672-48.67-47.997-290.337 290-128.553-128.552z">
                                        </path>
                                    </svg>
                                </span>
                                <span class="list-text-12">Custom dashboards for real-time business intelligence


                                </span>
                            </li>
                            <li class="d-flex">
                                <span class="list-icon-12 align-self-center">
                                    <svg xmlns="http://www.w3.org/2000/svg" id="Capa_1" viewBox="0 0 515.556 515.556">
                                        <path
                                            d="m0 274.226 176.549 176.886 339.007-338.672-48.67-47.997-290.337 290-128.553-128.552z">
                                        </path>
                                    </svg>
                                </span>
                                <span class="list-text-12">Machine learning models tailored to your data
                                </span>
                            </li>

                            <li class="d-flex">
                                <span class="list-icon-12 align-self-center">
                                    <svg xmlns="http://www.w3.org/2000/svg" id="Capa_1" viewBox="0 0 515.556 515.556">
                                        <path
                                            d="m0 274.226 176.549 176.886 339.007-338.672-48.67-47.997-290.337 290-128.553-128.552z">
                                        </path>
                                    </svg>
                                </span>
                                <span class="list-text-12">Natural language processing and automation integration

                                </span>
                            </li>
                        </ul>
                        <!-- <div class="space-30"></div>
                            <div class="space-5"></div> -->

                    </div>
                    <div class="col-lg-6 text-right">
                        <div class="service12-img-3">
                            <div class="service-img5-position-12">
                                <img src="assets/images/background/home12-shape5.png" alt="">
                            </div>
                            <div class="service-img6-position-12">
                                <img src="assets/images/background/home12-shape7.png" alt="">
                            </div>
                            <img src="assets/images/services/software-development/data-analytics.webp" alt="">
                        </div>
                    </div>
                </div>


            </div>
        </section>

        <!--  Industries We Serve start -->
        <section class="section-industris about-team">
            <div class="container">
                <div class="col-md-12 text-center">
                    <div class="ot-heading">
                        <span> How It Works —</span>
                        <h2> From Idea to Impact
                        </h2>
                        <p>A Smart, User-First Journey to Crafting Powerful, Scalable Apps That Deliver
                        </p>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="ot-industries">
                    <div class="owl-carousel owl-theme industries-inner ot-industries-slider owl-loaded owl-drag">
                        <div class="owl-stage-outer">
                            <div class="owl-stage"
                                style="transform: translate3d(-1650px, 0px, 0px); transition: all; width: 7330px; padding-left: 365px; padding-right: 365px;">


                                <div class="owl-item cloned" style="width: 412.5px;">
                                    <a>
                                        <div class="indus-item">
                                            <div class="item-inner">
                                                <div class="overlay"></div>
                                                <div class="i-image">
                                                    <img src="assets/images/text-img/d.webp" alt="">
                                                </div>
                                                <div class="iinfo">
                                                    <h6>Discovery & Planning</h6>
                                                    <div class="itext">
                                                        We analyze goals, define scope, and create a roadmap aligned
                                                        with your business objectives.

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="owl-item cloned" style="width: 412.5px;">
                                    <a>
                                        <div class="indus-item">
                                            <div class="item-inner">
                                                <div class="overlay"></div>
                                                <div class="i-image">
                                                    <img src="assets/images/text-img/d.webp" alt="">
                                                </div>
                                                <div class="iinfo">
                                                    <h6> Design & Prototyping
                                                    </h6>
                                                    <div class="itext">
                                                        Crafting intuitive interfaces and user flows to visualize
                                                        functionality before full-scale development begins.

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>

                                <div class="owl-item active" style="width: 412.5px;">
                                    <a>
                                        <div class="indus-item">
                                            <div class="item-inner">
                                                <div class="overlay"></div>
                                                <div class="i-image">
                                                    <img src="assets/images/text-img/d.webp" alt="">
                                                </div>
                                                <div class="iinfo">
                                                    <h6>Development & Integration
                                                    </h6>
                                                    <div class="itext">
                                                        Our developers build robust, scalable software and integrate
                                                        it seamlessly with existing systems or APIs.

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>

                                <div class="owl-item" style="width: 412.5px;">
                                    <a>
                                        <div class="indus-item">
                                            <div class="item-inner">
                                                <div class="overlay"></div>
                                                <div class="i-image">
                                                    <img src="assets/images/text-img/t.webp" alt="">
                                                </div>
                                                <div class="iinfo">
                                                    <h6>Testing & Deployment</h6>
                                                    <div class="itext">
                                                        Rigorous testing ensures performance and security, followed
                                                        by smooth deployment and post-launch monitoring support.

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--  Industries We Serve end -->

        <!-- faq's -->
        <section class="faq">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <div class="ot-heading">
                            <span>FAQ —</span>
                            <h2 class="main-heading">Frequently Asked Questions</h2>
                        </div>
                        <div class="space-25"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="ot-accordions">
                            <div class="acc-item current">
                                <span class="acc-toggle">How do you ensure the custom software fits our unique
                                    business needs?

                                    <i class="down flaticon-download-arrow"></i><i class="up flaticon-up-arrow"></i>
                                </span>
                                <div class="acc-content active" style="display: block;">
                                    <p>We start with in-depth discovery sessions to understand your workflows,
                                        goals, and challenges. Every solution is then architected specifically to
                                        align with your operations and future scalability.
                                    </p>
                                </div>
                            </div>
                            <div class="acc-item">
                                <span class="acc-toggle">Can you build mobile and web apps that work across all
                                    devices?

                                    <i class="down flaticon-download-arrow"></i><i class="up flaticon-up-arrow"></i>
                                </span>
                                <div class="acc-content">
                                    <p>Yes! We specialize in responsive, cross-platform app development using modern
                                        frameworks like Flutter and React Native, ensuring seamless performance on
                                        iOS, Android, and all major browsers.
                                    </p>
                                </div>
                            </div>
                            <div class="acc-item">
                                <span class="acc-toggle"> What cloud platforms and DevOps tools do you support?
                                    <i class="down flaticon-download-arrow"></i><i class="up flaticon-up-arrow"></i>
                                </span>
                                <div class="acc-content">
                                    <p>We work with AWS, Azure, and Google Cloud. Our DevOps toolkit includes
                                        Docker, Kubernetes, Jenkins, Terraform, and more, ensuring robust,
                                        automated, and secure infrastructure for every project.
                                    </p>
                                </div>
                            </div>
                            <div class="acc-item">
                                <span class="acc-toggle">How do you ensure quality and performance in the final
                                    product?
                                    <i class="down flaticon-download-arrow"></i><i class="up flaticon-up-arrow"></i>
                                </span>
                                <div class="acc-content">
                                    <p>Through rigorous manual and automated testing, performance monitoring, and
                                        CI/CD integration. We catch issues early and continuously improve quality
                                        throughout the development lifecycle.
                                    </p>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </section>
    </div>

</div>

</div>