<section class="about-team ps-1 pe-1">
    <div class="container">
        <div class="section-content-wrapper contact-area-inner section-spacing">
            <div class="row col-rev">
                <div class="col-lg-7 order-2 order-lg-1 px-4 px-lg-4 px-md-0">
                    <div>
                        <h1 class="section-title mb-3">
                            Mobile Developers
                        </h1>
                        <p>
                            Los Angeles, California, USA | 04-06-2025
                        </p>
                        <hr>
                    </div>

                    <div class="mt-4 mt-lg-0">
                        <p>A mobile developer is responsible for designing, developing, and maintaining mobile
                            applications for Android and/or iOS platforms. This involves using modern mobile
                            technologies and frameworks to build responsive, scalable, and high-performance applications
                            that deliver seamless user experiences.

                        </p>
                    </div>

                    <div>

                        <p><strong> Qualification: </strong>Any Graduation (B.Tech / B.E. in computer science or related
                            field)

                        </p>

                        <p><strong> Experience: </strong>3+ years</p>

                        <p><strong> Shift Type: </strong>Afternoon shift</p>

                        <p><strong>Location: </strong>Los Angeles, California, USA </p>
                        <p><strong>Number of Openings: </strong>2</p>

                        <h4 class="mt-3 mb-3">Job Description :</h4>
                        <div class="ullist">
                            <p><strong>Required Skills &amp; Qualifications:</strong></p>

                            <ul>
                                <li>3-5 years of experience in mobile application development (iOS, Android, or
                                    cross-platform).

                                </li>
                                <li>Proficiency in native mobile development using Swift (iOS) or Kotlin/Java (Android).
                                </li>
                                <li>Strong experience with cross-platform frameworks like Flutter or React Native.
                                </li>
                                <li>Experience with RESTful APIs and third-party SDK integration.
                                </li>
                                <li>Familiarity with mobile UI/UX best practices and responsive design principles.
                                </li>
                                <li>Proficiency with version control systems like Git and platforms such as GitHub/GitLab.

                                </li>
                                <li>Knowledge of mobile performance optimization and memory management.

                                </li>
                                <li>Experience with deploying apps to App Store and/or Google Play Store.
</li>
                                <li>Understanding of mobile security practices and data protection techniques.

                                </li>
                                <li>Familiarity with Agile methodologies and tools like JIRA, Trello, or Asana.


</li>
                            </ul>
                        </div>
                    </div>

                    <div>

                        <h4 class="mt-3 mb-3">Workplace :</h4>
                        <p> Work From Office</p>

                    </div>

                    <div>
                        <h4 class="mt-3 mb-3">Roles &amp; Responsibilities :</h4>

                        <div class="ullist">
                            <p> </p>
                            <p><strong>Key Responsibilities:</strong></p>

                            <ul>
                                <li>Design, build, and maintain advanced mobile applications for iOS and/or Android platforms.

                                </li>

                                <li>Develop cross-platform applications using Flutter or React Native (if applicable).

                                </li>
                                <li>Collaborate with product and design teams to implement intuitive mobile user interfaces.

                                </li>
                                <li>Integrate mobile apps with backend services and APIs.

                                </li>
                                <li>Ensure application performance, quality, and responsiveness.
                                </li>
                                <li>Debug and resolve technical issues, crashes, and bugs in mobile apps
                                </li>
                                <li>Write clean, maintainable, and well-documented code.

                                </li>
                                <li>Keep up to date with emerging mobile technologies, trends, and tools.
</li>
                            </ul>
                            <p></p>
                        </div>
                    </div>


                </div>
                <div class="col-lg-5 order-1 order-lg-2">
                    <div class="popup-box">
                        <div class="modal-header border-0 mb-3" style="padding: 0;">
                            <h5 class="modal-title  " id="careerModalLabel" style="padding: 0;">Apply Now</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                                (click)="closePopup()">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="popup-content">
                            <form #contactForm="ngForm" (ngSubmit)="submitApplication()">
                                <div class="form-group">

                                    <label for="name" class="d-block">Full Name <span
                                            class="text-danger">*</span></label>
                                    <input type="text" id="name" name="name" class="d-block width100"
                                        [(ngModel)]="formData.name" (input)="clearError('name')" />
                                    <span class="text-danger text-xs" *ngIf="formErrors.name">{{formErrors.name}}</span>
                                </div>
                                <div class="form-group">
                                    <label for="email " class="d-block"> Email Address <span
                                            class="text-danger">*</span></label>
                                    <input type="email" id="email" name="email" class="d-block width100"
                                        [(ngModel)]="formData.email" (input)="clearError('email')" />
                                    <span class="text-danger text-xs"
                                        *ngIf="formErrors.email">{{formErrors.email}}</span>
                                </div>
                                <div class="form-group">

                                    <label for="phonenumber" class="d-block"> Phone Number <span
                                            class="text-danger">*</span></label>
                                    <input type="number" id="phonenumber" name="email" class="d-block width100"
                                        [(ngModel)]="formData.phonenumber" (input)="clearError('phonenumber')" />
                                    <span class="text-danger text-xs"
                                        *ngIf="formErrors.phonenumber">{{formErrors.phonenumber}}</span>
                                </div>

                                <div class="form-group">

                                    <label for="job_title" class="d-block"> Job Title <span
                                            class="text-danger">*</span></label>
                                    <input type="text" id="job_title" name="email" class="d-block width100"
                                        [(ngModel)]="formData.job_title" (input)="clearError('job_title')" />
                                    <span class="text-danger text-xs"
                                        *ngIf="formErrors.job_title">{{formErrors.job_title}}</span>
                                </div>
                                <div class="form-group">
                                    <label>Upload Resume <span class="text-danger">*</span></label>
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" id="resumeUpload"
                                            accept=".pdf,.doc,.docx" (change)="onFileChange($event)" />
                                        <label class="custom-file-label" for="resumeUpload">Choose file </label>
                                    </div>
                                    <span *ngIf="selectedFile" class="text-info mt-2">
                                        {{ selectedFile.name }}
                                    </span>
                                    <span class="text-danger text-xs" *ngIf="formErrors.resume">{{formErrors.resume}}
                                        <br /></span>
                                    <span class="text-success text-xs" *ngIf="successMessage">{{successMessage}}
                                        <br /></span>
                                    <span class="text-danger text-xs" *ngIf="errorMessage">{{errorMessage}}
                                        <br /></span>
                                </div>


                                <button type="submit" class="octf-btn octf-btn-primary d-block">Submit
                                    Application</button>
                            </form>
                        </div>


                    </div>
                </div>

            </div>

        </div>
    </div>
</section>