<div class="royal_preloader">
    <div id="page" class="site">
        <div id="content" class="site-content">
            <div id="rev_slider_one_wrapper" class="rev_slider_wrapper fullscreen-container" data-alias="mask-showcase"
                data-source="gallery" style="background:#ffffff;padding:0px;">
                <!-- START REVOLUTION SLIDER 5.4.1 fullscreen mode -->
                <div id="rev_slider_one" class="rev_slider fullscreenbanner" style="display:none;" data-version="5.4.1">
                    <ul>

                        <!-- SLIDE 1 -->
                        <li data-index="rs-70" data-transition="fade" data-slotamount="default" data-hideafterloop="0"
                            data-hideslideonmobile="off" data-easein="default" data-easeout="default"
                            data-masterspeed="300" data-thumb="images/slider/slide1-home1.jpg" data-rotate="0"
                            data-saveperformance="off" data-title="" data-param1="1" data-param2="" data-param3=""
                            data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9=""
                            data-param10="" data-description="" class="banner-img">
                            <!-- MAIN IMAGE -->
                            <img src="assets/images/home/banner-1.webp" data-bgcolor='rgba(255,255,255,0)' style=''
                                alt="" data-bgposition="50% 50%" data-bgfit="cover" data-bgrepeat="no-repeat"
                                data-bgparallax="off" class="rev-slidebg" data-no-retina>

                            <!-- LAYER 1  right image overlay dark-->


                            <!-- LAYER 3  Thin text title-->
                            <div class="tp-caption tp-resizeme slider-tag-line" id="slide-70-layer-1"
                                data-x="['left','left','left','left']" data-hoffset="['15','15','15','15']"
                                data-y="['top','top','top','top']" data-voffset="['195','105','127','133']"
                                data-fontsize="['24',20','0','0']" data-lineheight="['36','30','22','15']"
                                data-whitespace="nowrap" data-type="text" data-responsive_offset="on"
                                data-frames='[{"delay":0,"speed":1000,"frame":"0","from":"x:50px;opacity:0;","to":"o:1;","ease":"power3.inOut"},{"delay":"wait","speed":1000,"frame":"999","to":"x:50px;opacity:0;","ease":"power3.inOut"}]'
                                data-textAlign="['left','left','left','left']"
                                style="z-index: 8; font-weight: 400; color: #fff;font-family: 'Nunito Sans';">
                                Innovate. Scale. Succeed.
                            </div>


                            <!-- LAYER 4  Bold Title-->
                            <div class="tp-caption tp-resizeme" id="slide-70-layer-2"
                                data-x="['left','left','left','left']" data-hoffset="['15','15','15','15']"
                                data-y="['top','top','top','top']" data-voffset="['240','140','155','145']"
                                data-fontsize="['72','60','48','30']" data-lineheight="['80','62','52','42']"
                                data-whitespace="nowrap" data-type="text" data-responsive_offset="on"
                                data-frames='[{"delay":500,"split":"chars","splitdelay":0.1,"speed":500,"frame":"0","from":"x:[105%];z:0;rX:45deg;rY:0deg;rZ:90deg;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"power4.inOut"},{"delay":"wait","speed":1000,"frame":"999","to":"x:50px;z:0;rX:0deg;rY:0deg;rZ:0deg;sX:1;sY:1;skX:0;skY:0;","ease":"power3.inOut"}]'
                                data-textAlign="['left','left','left','left']"
                                style="z-index: 10; text-transform: uppercase;  font-weight: 900; color: #fff; font-family: Montserrat;">
                                IT Consulting That Fuels <br>Growth and Innovation

                            </div>

                            <!-- LAYER 5  Paragraph-->
                            <div class="tp-caption tp-resizeme" id="slide-70-layer-3"
                                data-x="['left','left','left','left']" data-hoffset="['15','15','15','15']"
                                data-y="['top','top','top','top']" data-voffset="['420','279','271','235']"
                                data-fontsize="['18','18','22','16']" data-lineheight="['30','34','32','28']"
                                data-whitespace="nowrap" data-type="text" data-responsive_offset="on"
                                data-frames='[{"delay":2900,"speed":1000,"frame":"0","from":"x:50px;opacity:0;","to":"o:1;","ease":"power3.inOut"},{"delay":"wait","speed":1000,"frame":"999","to":"x:50px;opacity:0;","ease":"power3.inOut"}]'
                                data-textAlign="['left','left','left','left']"
                                style="z-index: 10; white-space: normal; color: #fff;font-family: 'Nunito Sans', sans-serif;">
                                Our experts don’t just solve problems — we create scalable, <br> future-proof strategies
                                that
                                align with your long-term vision.

                            </div>

                            <!-- LAYER 6  Read More-->
                            <div class="tp-caption rev-btn" id="slide-70-layer-4" data-x="['left','left','left','left']"
                                data-hoffset="['15','15','15','15']" data-y="['top','top','top','top']"
                                data-voffset="['525','385','370','320']" data-lineheight="['18','18','16','16']"
                                data-width="none" data-height="none" data-whitespace="nowrap"
                                data-responsive_offset="on"
                                data-frames='[{"delay":3400,"speed":1000,"frame":"0","from":"x:50px;opacity:0;","to":"o:1;","ease":"power3.inOut"},{"delay":"wait","speed":1000,"frame":"999","to":"x:50px;opacity:0;","ease":"power3.inOut"}]'
                                data-textAlign="['center','center','center','center']" data-paddingtop="[0,0,0,0]"
                                data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]"
                                data-paddingleft="[0,0,0,0]" style="z-index:8;"><a routerLink="/contact-us"
                                    class="octf-btn octf-btn-primary btn-slider btn-large"
                                    (click)="navigateToContact($event)"> Book a Free Strategy </a>
                            </div>

                        </li>


                        <!-- SLIDE 1 -->
                        <li data-index="rs-71" data-transition="fade" data-slotamount="default" data-hideafterloop="0"
                            data-hideslideonmobile="off" data-easein="default" data-easeout="default"
                            data-masterspeed="300" data-thumb="images/slider/slide2-home1.jpg" data-rotate="0"
                            data-saveperformance="off" data-title="" data-param1="1" data-param2="" data-param3=""
                            data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9=""
                            data-param10="" data-description="" class="banner-img">
                            <!-- MAIN IMAGE -->
                            <img src="assets/images/home/banner-2.webp" data-bgcolor='#ffffff' alt=""
                                data-bgposition="50% 50%" data-bgfit="cover" data-bgrepeat="no-repeat"
                                data-bgparallax="off" class="rev-slidebg" data-no-retina>


                            <!-- LAYER 3  Thin text title-->
                            <div class="tp-caption   tp-resizeme slider-tag-line" id="slide-71-layer-3"
                                data-x="['left','left','left','left']" data-hoffset="['15','15','15','15']"
                                data-y="['top','top','top','top']" data-voffset="['195','105','127','133']"
                                data-fontsize="['24',20','0','0']" data-lineheight="['36','30','22','15']"
                                data-whitespace="nowrap" data-type="text" data-responsive_offset="on"
                                data-frames='[{"delay":0,"speed":1000,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"power3.inOut"},{"delay":"wait","speed":1000,"frame":"999","to":"opacity:0;","ease":"power3.inOut"}]'
                                data-textAlign="['left','left','left','left']"
                                style="z-index: 8; font-weight: 400; color: #fff;font-family: 'Nunito Sans';">
                                Evolve. Compete. Thrive.
                            </div>

                            <!-- LAYER 4  Bold Title-->
                            <div class="tp-caption   tp-resizeme" id="slide-70-layer-6"
                                data-x="['left','left','left','left']" data-hoffset="['15','15','15','15']"
                                data-y="['top','top','top','top']" data-voffset="['240','140','155','145']"
                                data-fontsize="['72','60','48','30']" data-lineheight="['80','62','52','42']"
                                data-whitespace="nowrap" data-type="text" data-responsive_offset="on"
                                data-frames='[{"delay":500,"split":"chars","splitdelay":0.1,"speed":300,"frame":"0","from":"y:[100%];z:0;rZ:-35deg;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"power4.inOut"},{"delay":"wait","speed":1200,"frame":"999","to":"y:50px;z:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","ease":"power3.inOut"}]'
                                data-textAlign="['left','left','left','left']"
                                style="z-index: 10; text-transform: uppercase; font-weight: 900; color: #fff; font-family: Montserrat;">
                                Upgrade Legacy
                                Systems <br> to Stay Competitive
                            </div>

                            <!-- LAYER 5  Paragraph-->
                            <div class="tp-caption   tp-resizeme" id="slide-71-layer-7"
                                data-x="['left','left','left','left']" data-hoffset="['15','15','15','15']"
                                data-y="['top','top','top','top']" data-voffset="['420','279','271','235']"
                                data-fontsize="['18','18','22','16']" data-lineheight="['30','34','32','28']"
                                data-whitespace="nowrap" data-type="text" data-responsive_offset="on"
                                data-frames='[{"delay":2900,"speed":1000,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"power3.inOut"},{"delay":"wait","speed":1000,"frame":"999","to":"opacity:0;","ease":"power3.inOut"}]'
                                data-textAlign="['left','left','left','left']"
                                style="z-index: 10; white-space: normal; color: #fff;font-family: 'Nunito Sans', sans-serif;">
                                Modernize your systems and simplify operations with <br> expert help to handle today’s
                                needs
                                and tomorrow’s goals.
                            </div>

                            <!-- LAYER 6  Read More-->
                            <div class="tp-caption rev-btn" id="slide-71-layer-8" data-x="['left','left','left','left']"
                                data-hoffset="['15','15','15','15']" data-y="['top','top','top','top']"
                                data-voffset="['525','385','370','320']" data-width="none" data-height="none"
                                data-whitespace="nowrap" data-type="button" data-responsive_offset="on"
                                data-frames='[{"delay":3400,"speed":500,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"power3.inOut"},{"delay":"wait","speed":500,"frame":"999","to":"opacity:0;","ease":"power3.inOut"}]'
                                data-textAlign="['center','center','center','center']" data-paddingtop="[0,0,0,0]"
                                data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]"
                                data-paddingleft="[0,0,0,0]" style="z-index:10;">
                                <a routerLink="/contact-us" class="octf-btn octf-btn-primary btn-slider btn-large"
                                    (click)="navigateToContact($event)"> Free
                                    Technology Audit
                                </a>
                            </div>
                        </li>

                        <!-- SLIDE 1 -->
                        <li data-index="rs-72" data-transition="fade" data-slotamount="default" data-hideafterloop="0"
                            data-hideslideonmobile="off" data-easein="default" data-easeout="default"
                            data-masterspeed="300" data-thumb="images/slider/slide3-home1.jpg" data-rotate="0"
                            data-saveperformance="off" data-title="" data-param1="1" data-param2="" data-param3=""
                            data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9=""
                            data-param10="" data-description="" class="banner-img">
                            <!-- MAIN IMAGE -->
                            <img src="assets/images/home/banner-3.webp" data-bgcolor='#ffffff' style='' alt=""
                                data-bgposition="50% 50%" data-bgfit="cover" data-bgrepeat="no-repeat"
                                data-bgparallax="off" class="rev-slidebg" data-no-retina>


                            <!-- LAYER 3  Thin text title-->
                            <div class="tp-caption   tp-resizeme slider-tag-line" id="slide-72-layer-3"
                                data-x="['left','left','left','left']" data-hoffset="['15','15','15','15']"
                                data-y="['top','top','top','top']" data-voffset="['195','105','127','133']"
                                data-fontsize="['24',20','0','0']" data-lineheight="['36','30','22','15']"
                                data-whitespace="nowrap" data-type="text" data-responsive_offset="on"
                                data-frames='[{"delay":500,"speed":1000,"frame":"0","from":"y:-50px;opacity:0;","to":"o:1;","ease":"power3.inOut"},{"delay":"wait","speed":1000,"frame":"999","to":"auto:auto;","ease":"power3.inOut"}]'
                                data-textAlign="['left','left','left','left']"
                                style="z-index: 8; font-weight: 400; color: #fff;font-family: 'Nunito Sans';">
                                Simplify. Optimize. Scale.

                            </div>

                            <!-- LAYER 4  Bold Title-->
                            <div class="tp-caption   tp-resizeme" id="slide-72-layer-6"
                                data-x="['left','left','left','left']" data-hoffset="['15','15','15','15']"
                                data-y="['top','top','top','top']" data-voffset="['240','140','155','145']"
                                data-fontsize="['72','60','48','30']" data-lineheight="['80','62','52','42']"
                                data-whitespace="nowrap" data-type="text" data-responsive_offset="on"
                                data-frames='[{"delay":500,"split":"chars","splitdelay":0.1,"speed":300,"frame":"0","from":"y:[-100%];z:0;rZ:35deg;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"power4.inOut"},{"delay":"wait","speed":1200,"frame":"999","to":"y:-50px;z:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","ease":"power3.inOut"}]'
                                data-textAlign="['left','left','left','left']"
                                style="z-index: 10; text-transform: uppercase; font-weight: 900; color: #fff; font-family: Montserrat;">
                                We Simplify and
                                <br> Future-Proof Your Tech
                            </div>

                            <!-- LAYER 5  Paragraph-->
                            <div class="tp-caption   tp-resizeme" id="slide-72-layer-7"
                                data-x="['left','left','left','left']" data-hoffset="['15','15','15','15']"
                                data-y="['top','top','top','top']" data-voffset="['420','279','271','235']"
                                data-fontsize="['18','18','22','16']" data-lineheight="['30','34','32','28']"
                                data-whitespace="nowrap" data-type="text" data-responsive_offset="on"
                                data-frames='[{"delay":2900,"speed":1000,"frame":"0","from":"y:-50px;opacity:0;","to":"o:1;","ease":"power3.inOut"},{"delay":"wait","speed":1000,"frame":"999","to":"auto:auto;","ease":"power3.inOut"}]'
                                data-textAlign="['left','left','left','left']"
                                style="z-index: 10; white-space: normal; color: #fff;font-family: 'Nunito Sans', sans-serif;">
                                With deep industry knowledge and agile methodologies,<br> we bring clarity, control,
                                and
                                confidence to your IT strategy.
                            </div>

                            <!-- LAYER 6  Read More-->
                            <div class="tp-caption rev-btn" id="slide-72-layer-8" data-x="['left','left','left','left']"
                                data-hoffset="['15','15','15','15']" data-y="['top','top','top','top']"
                                data-voffset="['525','385','370','320']" data-width="none" data-height="none"
                                data-whitespace="nowrap" data-type="button" data-responsive_offset="on"
                                data-frames='[{"delay":3400,"speed":700,"frame":"0","from":"y:-50px;opacity:0;","to":"o:1;","ease":"power3.inOut"},{"delay":"wait","speed":700,"frame":"999","to":"auto:auto;","ease":"power3.inOut"}]'
                                data-textAlign="['center','center','center','center']" data-paddingtop="[0,0,0,0]"
                                data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]"
                                data-paddingleft="[0,0,0,0]" style="z-index:10;">
                                <a routerLink="/contact-us" class="octf-btn octf-btn-primary btn-slider btn-large"
                                    (click)="navigateToContact($event)">Free
                                    Specialist Consultation
                                </a>
                            </div>
                        </li>




                        <!-- SLIDE 1 -->
                        <li data-index="rs-73" data-transition="fade" data-slotamount="default" data-hideafterloop="0"
                            data-hideslideonmobile="off" data-easein="default" data-easeout="default"
                            data-masterspeed="300" data-thumb="images/slider/slide1-home1.jpg" data-rotate="0"
                            data-saveperformance="off" data-title="" data-param1="1" data-param2="" data-param3=""
                            data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9=""
                            data-param10="" data-description="" class="banner-img">
                            <!-- MAIN IMAGE -->
                            <img src="assets/images/home/banner-4.webp" data-bgcolor='rgba(255,255,255,0)' style=''
                                alt="" data-bgposition="50% 50%" data-bgfit="cover" data-bgrepeat="no-repeat"
                                data-bgparallax="off" class="rev-slidebg" data-no-retina>

                            <!-- LAYER 1  right image overlay dark-->


                            <!-- LAYER 3  Thin text title-->
                            <div class="tp-caption tp-resizeme slider-tag-line" id="slide-70-layer-1"
                                data-x="['left','left','left','left']" data-hoffset="['15','15','15','15']"
                                data-y="['top','top','top','top']" data-voffset="['195','105','127','133']"
                                data-fontsize="['24',20','0','0']" data-lineheight="['36','30','22','15']"
                                data-whitespace="nowrap" data-type="text" data-responsive_offset="on"
                                data-frames='[{"delay":0,"speed":1000,"frame":"0","from":"x:50px;opacity:0;","to":"o:1;","ease":"power3.inOut"},{"delay":"wait","speed":1000,"frame":"999","to":"x:50px;opacity:0;","ease":"power3.inOut"}]'
                                data-textAlign="['left','left','left','left']"
                                style="z-index: 8; font-weight: 400; color: #fff;font-family: 'Nunito Sans';">
                                Solutions built for impact.
                            </div>

                            <!-- LAYER 4  Bold Title-->
                            <div class="tp-caption tp-resizeme" id="slide-70-layer-2"
                                data-x="['left','left','left','left']" data-hoffset="['15','15','15','15']"
                                data-y="['top','top','top','top']" data-voffset="['240','140','155','145']"
                                data-fontsize="['72','60','48','30']" data-lineheight="['80','62','52','42']"
                                data-whitespace="nowrap" data-type="text" data-responsive_offset="on"
                                data-frames='[{"delay":500,"split":"chars","splitdelay":0.1,"speed":500,"frame":"0","from":"x:[105%];z:0;rX:45deg;rY:0deg;rZ:90deg;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"power4.inOut"},{"delay":"wait","speed":1000,"frame":"999","to":"x:50px;z:0;rX:0deg;rY:0deg;rZ:0deg;sX:1;sY:1;skX:0;skY:0;","ease":"power3.inOut"}]'
                                data-textAlign="['left','left','left','left']"
                                style="z-index: 10; text-transform: uppercase;  font-weight: 900; color: #fff; font-family: Montserrat;">
                                Work with Experts
                                <br>Who Deliver Results

                            </div>

                            <!-- LAYER 5  Paragraph-->
                            <div class="tp-caption tp-resizeme" id="slide-70-layer-3 new"
                                data-x="['left','left','left','left']" data-hoffset="['15','15','15','15']"
                                data-y="['top','top','top','top']" data-voffset="['420','279','271','235']"
                                data-fontsize="['18','18','22','16']" data-lineheight="['30','34','32','28']"
                                data-whitespace="nowrap" data-type="text" data-responsive_offset="on"
                                data-frames='[{"delay":2900,"speed":1000,"frame":"0","from":"x:50px;opacity:0;","to":"o:1;","ease":"power3.inOut"},{"delay":"wait","speed":1000,"frame":"999","to":"x:50px;opacity:0;","ease":"power3.inOut"}]'
                                data-textAlign="['left','left','left','left']"
                                style="z-index: 10; white-space: normal; color: #fff;font-family: 'Nunito Sans', sans-serif;">
                                We go beyond advice — we implement, optimize, and scale <br> tech solutions that make a
                                measurable business impact.
                            </div>

                            <!-- LAYER 6  Read More-->
                            <div class="tp-caption rev-btn" id="slide-70-layer-4" data-x="['left','left','left','left']"
                                data-hoffset="['15','15','15','15']" data-y="['top','top','top','top']"
                                data-voffset="['525','385','370','320']" data-lineheight="['18','18','16','16']"
                                data-width="none" data-height="none" data-whitespace="nowrap"
                                data-responsive_offset="on"
                                data-frames='[{"delay":3400,"speed":1000,"frame":"0","from":"x:50px;opacity:0;","to":"o:1;","ease":"power3.inOut"},{"delay":"wait","speed":1000,"frame":"999","to":"x:50px;opacity:0;","ease":"power3.inOut"}]'
                                data-textAlign="['center','center','center','center']" data-paddingtop="[0,0,0,0]"
                                data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]"
                                data-paddingleft="[0,0,0,0]" style="z-index:8;">
                                <a routerLink="/contact-us" class="octf-btn octf-btn-primary btn-slider btn-large"
                                    (click)="navigateToContact($event)"> Get
                                    Free Consultation </a>
                            </div>

                        </li>

                    </ul>
                    <div class="tp-bannertimer" style="height: 10px; background: rgba(0, 0, 0, 0);"></div>
                </div>
            </div>


            <section class="about-team">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-12 align-self-center">
                            <div class="ot-heading">
                                <span> Our Identity — </span>
                                <h2 class="main-heading">Empowering Businesses Through Intelligent, Unified IT Solutions
                                </h2>
                            </div>
                            <p class="mb-15">At Trebecon, we specialize in delivering smart, integrated IT solutions
                                designed to fuel your business growth. Our holistic approach bridges technology and
                                strategy to create seamless workflows, boost operational efficiency, and drive
                                performance across every layer of your organization.
                            </p>

                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <div class="icon-box-s1">
                                        <div class="icon-main mb-3">
                                            <img src="assets/images/icons/home/operational-efficiency.svg" alt="">
                                        </div>
                                        <h5>Operational Efficiency, Reimagined
                                        </h5>
                                        <div class="line-box"></div>
                                        <p>Trebecon unifies your IT systems to streamline workflows and reduce costs. We
                                            simplify operations, boost productivity, and empower teams to perform at
                                            their best.
                                        </p>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <div class="icon-box-s1">
                                        <div class="icon-main mb-3">
                                            <img src="assets/images/icons/home/data-security.svg" alt="">
                                        </div>
                                        <h5>Data Security That Goes Beyond the Basics
                                        </h5>
                                        <div class="line-box"></div>
                                        <p>We protect your data with cutting-edge security and real-time defenses. Stay
                                            compliant, earn customer trust, and ensure uninterrupted business
                                            operations.

                                        </p>
                                    </div>
                                </div>
                                <div class="space-15"></div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12 align-self-center">
                            <img src="assets/images/home/empowering-businesses.webp" alt="">

                        </div>
                    </div>
                </div>
            </section>

            <section class="bg-dark-primary about-team">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <div class="ot-heading">
                                <span class="text-primary-light"> Our IT Solutions —
                                </span>
                                <h2 class="main-heading text-white">Empowering Businesses with <br> Smart IT Solutions
                                </h2>
                            </div>
                            <div class="space-20"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
                            <div class="serv-box-2 s2 home">
                                <span class="big-number">01</span>
                                <div class="icon-main aiml-img">
                                    <img src="assets/images/icons/home/our-solutions/it-staffing-services.svg" alt="">
                                </div>
                                <div class="content-box">
                                    <h5>Software Development Services
                                    </h5>
                                    <div>Custom-built software solutions that drive innovation, efficiency, and business
                                        growth.
                                    </div>
                                    <a routerLink="/software-development-services" class="btn-details"
                                        (click)="navigateToPage($event, '/software-development-services')"><i
                                            class="flaticon-right-arrow-1"></i> LEARN
                                        MORE</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
                            <div class="serv-box-2 s2 home">
                                <span class="big-number">02</span>
                                <div class="icon-main aiml-img">
                                    <img src="assets/images/icons/home/our-solutions/software-development-services.svg"
                                        alt="">
                                </div>
                                <div class="content-box">
                                    <h5>IT Staffing Services</h5>
                                    <div>Skilled IT professionals on demand to scale your tech teams fast.
                                    </div>
                                    <a routerLink="/it-staffing-services" class="btn-details"
                                        (click)="navigateToPage($event, '/it-staffing-services')"><i
                                            class="flaticon-right-arrow-1"></i> LEARN
                                        MORE</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
                            <div class="serv-box-2 s2 home">
                                <span class="big-number">03</span>
                                <div class="icon-main aiml-img"><img
                                        src="assets/images/icons/home/our-solutions/technology-services.svg" alt="">
                                </div>
                                <div class="content-box">
                                    <h5>Technology Services
                                    </h5>
                                    <div>Innovative, scalable solutions that accelerate digital transformation and
                                        business growth.
                                    </div>
                                    <a routerLink="/technology-services" class="btn-details"
                                        (click)="navigateToPage($event, '/technology-services')"><i
                                            class="flaticon-right-arrow-1"></i> LEARN
                                        MORE</a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </section>


            <section class="about-team">
                <div class="container">



                    <div class="row">
                        <div class="col-md-8 col-sm-8 mb-4 mb-sm-0">
                            <div class="ot-heading mb-0">
                                <span> Industries We Serve —
                                </span>
                                <h2 class="main-heading">Empowering Businesses <br> Through Technology</h2>
                            </div>
                        </div>
                        <!-- <div class="col-md-4 col-sm-4 text-sm-right align-self-end">
                            <div class="ot-button">
                                <a href="#" class="octf-btn octf-btn-primary">all sevices</a>
                            </div>
                            <div class="space-10"></div>
                        </div> -->
                    </div>
                 
                    <div class="row">
                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <div class="icon-box-s2 s1 pb-20">
                                <div class="icon-main">
                                    <a routerLink="/insurance" (click)="navigateToPage($event, '/insurance')">
                                        <img src="assets/images/icons/home/industries/insurance.svg" alt="" width="60px"
                                            height="60px">
                                    </a>
                                </div>
                                <div class="content-box">
                                    <h5><a routerLink="/insurance"
                                            (click)="navigateToPage($event, '/insurance')">Insurance</a>
                                    </h5>
                                    <p>Digital solutions that enhance claims processing, risk assessment, and compliance
                                        workflows.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <div class="icon-box-s2 s1 pb-20">
                                <div class="icon-main">
                                    <a routerLink="/finance">
                                        <img src="assets/images/icons/home/industries/finance.svg" alt="" width="60px"
                                            height="60px">
                                    </a>
                                </div>
                                <div class="content-box">
                                    <h5> <a routerLink="/finance">Finance</a>
                                    </h5>
                                    <p>Secure, scalable IT services to streamline operations and meet regulations.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <div class="icon-box-s2 s1 pb-20">
                                <div class="icon-main">
                                    <a routerLink="/retail">
                                        <img src="assets/images/icons/home/industries/retail.svg" alt="" width="60px"
                                            height="60px">
                                    </a>
                                </div>
                                <div class="content-box">
                                    <h5><a routerLink="/retail">Retail</a>
                                    </h5>
                                    <p>Smart technologies are driving customer engagement, inventory control, and
                                        omnichannel growth.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <div class="icon-box-s2 s1 sm-pb-20">
                                <div class="icon-main">
                                    <a routerLink="/health-care">
                                        <img src="assets/images/icons/home/industries/healthcare.svg" alt=""
                                            width="60px" height="60px">
                                    </a>
                                </div>
                                <div class="content-box">
                                    <h5><a routerLink="/health-care">Healthcare</a>
                                    </h5>
                                    <p>HIPAA-compliant IT solutions for secure patient data and care delivery.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <div class="icon-box-s2 s1 xs-pb-20">
                                <div class="icon-main">
                                    <a routerLink="/energy-utilities">
                                        <img src="assets/images/icons/home/industries/energy.svg" alt="" width="60px"
                                            height="60px">
                                    </a>
                                </div>
                                <div class="content-box">
                                    <h5><a routerLink="/energy-utilities">Energy & Utilities</a>
                                    </h5>
                                    <p>Optimize energy operations with digital infrastructure, data insights, and
                                        automation.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <div class="icon-box-s2 s1">
                                <div class="icon-main">
                                    <a routerLink="/telecommunications">
                                        <img src="assets/images/icons/home/industries/telecommunications.svg" alt=""
                                            width="60px" height="60px">
                                    </a>
                                </div>
                                <div class="content-box">
                                    <h5><a routerLink="/telecommunications">Telecommunications</a>
                                    </h5>
                                    <p>Accelerate connectivity, service delivery, and innovation with robust IT
                                        frameworks.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>


            <section class="section-technology about-team">
                <div class="container">
                    <div class="row pb-60">
                        <div class="col-lg-10 mb-4 mb-lg-0">
                            <div class="technology-left">
                                <div class="ot-heading">
                                    <!-- <span class="text-primary-light">// technology index</span> -->
                                    <h4 class="main-heading text-white">We are the Catalyst for Change
                                    </h4>
                                </div>
                                <p>At Trebecon, we specialize in elevating operational performance through advanced IT
                                    solutions and expert staffing services. Our approach ensures consistent,
                                    high-quality service delivery—built for resilience, scalability, and results.
                                </p>

                            </div>

                            <div class="technology-left">
                                <div class="ot-heading">
                                    <!-- <span class="text-primary-light">// technology index</span> -->
                                    <h4 class="main-heading text-white">Retail, Redefined

                                    </h4>
                                </div>
                                <p>Trebecon empowers retail businesses with Agile IT infrastructure and top-tier talent.
                                    From intelligent inventory systems to immersive customer experiences, we enable
                                    brands to thrive in a digitally connected marketplace.

                                </p>

                            </div>
                            <div class="technology-left">
                                <div class="ot-heading">
                                    <!-- <span class="text-primary-light">// technology index</span> -->
                                    <h4 class="main-heading text-white">Telecom, Transformed

                                    </h4>
                                </div>

                                <p>With deep expertise in telecommunications, IT, and workforce solutions, Trebecon
                                    ensures uninterrupted connectivity, streamlined communication, and service
                                    reliability, laying the foundation for next-gen customer experiences.
                                </p>

                            </div>
                        </div>

                    </div>
                </div>
            </section>

            <div class="container mt--170">
                <div class="row">
                    <div class="col-lg-12 ">
                        <div class="cta">
                            <div class="row">
                                <div class="col-md-8 text-md-left text-center mb-4 mb-md-0">
                                    <div class="ot-heading">
                                        <span> Want to See What Trebecon Can Do for You?
                                        </span>
                                        <h2 class="main-heading">Explore how our tailored IT solutions and
                                            consulting services are transforming industries.

                                        </h2>
                                    </div>
                                </div>
                                <div class="col-md-4 text-md-right text-center align-self-end">
                                    <a routerLink="/contact-us" class="octf-btn btn-border" role="button"
                                        (click)="navigateToContact($event)">Give a buzz
                                        now
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <section class="about-team" >
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="ot-heading">
                                <span> Featured Case Study —
                                </span>
                                <h2 class="main-heading">Real Results. Real Impact.
                                </h2>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <p class="mb-0">Software development outsourcing is just a tool to achieve business goals.
                                But there is no way to get worthwhile results without cooperation and trust between a
                                client company.</p>
                        </div>
                    </div>
                </div>
                <div class="space-40"></div>

                <div class="owl-carousel owl-theme project-slider">
                    <div class="project-item projects-style-2">
                        <div class="projects-box">
                            <div class="projects-thumbnail">
                                <a href="#">
                                    <img src="assets/images/projects/project7-720x520.jpg" class="" alt="">
                                    <span class="overlay"></span>
                                </a>
                            </div>
                            <div class="portfolio-info ">
                                <div class="portfolio-info-inner">
                                    <a class="btn-link"><i class="flaticon-right-arrow-1"></i></a>
                                    <h5><a href="#">Social Media App</a></h5>
                                    <p class="portfolio-cates">
                                        <a href="#">Design</a><span>/</span>
                                        <a href="#">Technology</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="project-item projects-style-2">
                        <div class="projects-box">
                            <div class="projects-thumbnail">
                                <a href="#">
                                    <img src="assets/images/projects/project-720x520.jpg" class="" alt="">
                                    <span class="overlay"></span>
                                </a>
                            </div>
                            <div class="portfolio-info ">
                                <div class="portfolio-info-inner">
                                    <a class="btn-link"><i class="flaticon-right-arrow-1"></i></a>
                                    <h5><a href="#">App for Virtual Reality</a></h5>
                                    <p class="portfolio-cates">
                                        <a href="#">Design</a><span>/</span>
                                        <a href="#">Ideas</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="project-item projects-style-2">
                        <div class="projects-box">
                            <div class="projects-thumbnail">
                                <a href="#">
                                    <img src="assets/images/projects/project3-720x520.jpg" class="" alt="">
                                    <span class="overlay"></span>
                                </a>
                            </div>
                            <div class="portfolio-info ">
                                <div class="portfolio-info-inner">
                                    <a class="btn-link"><i class="flaticon-right-arrow-1"></i></a>
                                    <h5><a href="#">Basics Project</a></h5>
                                    <p class="portfolio-cates">
                                        <a href="#">Design</a><span>/</span>
                                        <a href="#">Development</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="project-item projects-style-2">
                        <div class="projects-box">
                            <div class="projects-thumbnail">
                                <a href="#">
                                    <img src="assets/images/projects/project4-720x520.jpg" class="" alt="">
                                    <span class="overlay"></span>
                                </a>
                            </div>
                            <div class="portfolio-info ">
                                <div class="portfolio-info-inner">
                                    <a class="btn-link"><i class="flaticon-right-arrow-1"></i></a>
                                    <h5><a href="#">eCommerce Website</a></h5>
                                    <p class="portfolio-cates">
                                        <a href="#">Design</a><span>/</span>
                                        <a href="#">Ideas</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="project-item projects-style-2">
                        <div class="projects-box">
                            <div class="projects-thumbnail">
                                <a href="#">
                                    <img src="assets/images/projects/project8-720x520.jpg" class="" alt="">
                                    <span class="overlay"></span>
                                </a>
                            </div>
                            <div class="portfolio-info ">
                                <div class="portfolio-info-inner">
                                    <a class="btn-link"><i class="flaticon-right-arrow-1"></i></a>
                                    <h5><a href="#">Basics Project</a></h5>
                                    <p class="portfolio-cates">
                                        <a href="#">Design</a><span>/</span>
                                        <a href="#">Development</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>

</div>