<div class="royal_preloader">
    <div id="page" class="site">

        <div id="content" class="site-content">
            <div class="page-header flex-middle">
                <div class="container">
                    <div class="inner flex-middle">
                        <h1 class="page-title">AI/ML Frameworks</h1>
                        <ul id="breadcrumbs" class="breadcrumbs none-style">
                            <li><a routerLink="/">Home</a></li>
                            <li class="active">AI/ML Frameworks</li>
                        </ul>
                    </div>
                </div>
            </div>

            <section class="section-business">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-5">
                            <div class="ot-heading mb-0">
                                <!-- <span>// Trebecon</span> -->
                                <h2 class="main-heading"> Unlocking AI Potential with Robust ML Frameworks

                                </h2>

                            </div>
                        </div>
                        <div class="col-lg-7 align-self-end">
                            <p class="mb-0">AI/ML frameworks provide essential tools and libraries for building,
                                training, and deploying artificial intelligence and machine learning models. Popular
                                frameworks like TensorFlow, PyTorch, and Scikit-learn streamline complex processes,
                                enabling faster development and experimentation. These frameworks support scalability,
                                flexibility, and integration, driving innovation across industries through intelligent
                                automation and data-driven solutions.


                            </p>

                        </div>
                    </div>
                </div>
            </section>

            <section class="section-clent-h2">
                <div class="container">
                    <div class="row mt--290 justify-content-center">
                        <div class="col-lg-4 col-md-6 col-sm-12 mb-4 mb-lg-0">
                            <div class="support-box">
                                <div class="inner-box">
                                    <div class="overlay flex-middle">
                                        <span class="number-box">01</span>
                                        <div class="inner">

                                            <p> TensorFlow, PyTorch, Scikit-learn, XGBoost
                                            </p>
                                            <!-- <a class="btn-details"><i
                                                    class="flaticon-right-arrow-1"></i> LEARN MORE</a> -->
                                        </div>
                                    </div>
                                    <div class="content-box">
                                        <span class="number-box">01</span>
                                        <h3>Frameworks
                                        </h3>
                                        <img src="assets/images/technologies/frameworks/frameworks.webp" alt="Outsoursing">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12 mb-4 mb-lg-0">
                            <div class="support-box">
                                <div class="inner-box">
                                    <div class="overlay flex-middle">
                                        <span class="number-box">02</span>
                                        <div class="inner">
                                            <p>Hugging Face, OpenCV, spaCy
                                            </p>
                                            <!-- <a href="web-development.html" class="btn-details"><i
                                                    class="flaticon-right-arrow-1"></i> LEARN MORE</a> -->
                                        </div>
                                    </div>
                                    <div class="content-box">
                                        <span class="number-box">02</span>
                                        <h3> Computer Vision
                                        </h3>
                                        <img src="assets/images/technologies/frameworks/computer-vision.webp"
                                            alt="Custom Software">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <div class="support-box">
                                <div class="inner-box">
                                    <div class="overlay flex-middle">
                                        <span class="number-box">03</span>
                                        <div class="inner">
                                            <p>MLflow, Kubeflow, SageMaker Pipelines
                                            </p>
                                            <!-- <a href="mobile-development.html" class="btn-details"><i
                                                    class="flaticon-right-arrow-1"></i> LEARN MORE</a> -->
                                        </div>
                                    </div>
                                    <div class="content-box">
                                        <span class="number-box">03</span>
                                        <h3>MLOps</h3>
                                        <img src="assets/images/technologies/frameworks/mlops.webp" alt="Product Design">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>



                </div>
            </section>


            <!-- Why Choose Trebe Con for IT Staffing? end -->

            <section class="about-team" id="tensorflow">
                <div class="container container-small">
                    <div class="row d-flex align-items-center col-rev">
                        <div class="col-xl-46 col-lg-6 mt-lg-0 order-last order-lg-first">
                            <div class="ot-heading">
                                <!-- <span class="stitle-dots">Top Features</span> -->
                                <h2 class="main-heading">TensorFlow</h2>
                            </div>
                            <div class="space-3"></div>

                            <p>Developed by Google, <strong>TensorFlow </strong>is a powerful open-source framework for
                                building and
                                deploying machine learning models at scale.
                            </p>
                            <div class="spacew-10"></div>
                            <div class="row mx-0">

                                <ul class="list-icon style-none pl-0">
                                    <li class="pb-1">
                                        <span class="mr-2">

                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                fill="#564DCA" class="bi bi-check-lg" viewBox="0 0 16 16">
                                                <path
                                                    d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425z" />
                                            </svg>
                                        </span>
                                        <span class="list-item-text ">Ideal for deep learning applications: image
                                            recognition, NLP, and more


                                        </span>
                                    </li>
                                    <li class="pb-1">
                                        <span class="mr-2">

                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                fill="#564DCA" class="bi bi-check-lg" viewBox="0 0 16 16">
                                                <path
                                                    d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425z" />
                                            </svg>
                                        </span>
                                        <span class="list-item-text">TensorFlow Extended (TFX) for production-ready
                                            ML pipelines
                                        </span>
                                    </li>
                                    <li class="pb-1">
                                        <span class="mr-2">

                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                fill="#564DCA" class="bi bi-check-lg" viewBox="0 0 16 16">
                                                <path
                                                    d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425z" />
                                            </svg>
                                        </span>
                                        <span class="list-item-text"> TensorFlow Lite and TensorFlow.js for mobile
                                            and browser deployment
                                        </span>
                                    </li>
                                    <li class="pb-1">
                                        <span class="mr-2">

                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                fill="#564DCA" class="bi bi-check-lg" viewBox="0 0 16 16">
                                                <path
                                                    d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425z" />
                                            </svg>
                                        </span>
                                        <span class="list-item-text"> Seamless integration with GCP's AI and data
                                            tools
                                        </span>
                                    </li>
                                </ul>



                            </div>
                            <p>We use TensorFlow to build scalable AI models that solve complex business
                                challenges, from demand forecasting to fraud detection.
                            </p>


                        </div>
                        <div class="col-xl-54 col-lg-6">
                            <img src="assets/images/technologies/frameworks/tensorflow.webp" alt="">
                        </div>
                    </div>
                </div>
            </section>

            <section class="technology-v4 ai-ml about-team" id="pytorch">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 mb-lg-0">
                            <div class="technology-left">
                                <div class="ot-heading">
                                    <!-- <span class="text-white">// technology index</span> -->
                                    <h2 class="main-heading text-white">PyTorch</h2>
                                </div>
                                <p class="text-white"><strong>PyTorch</strong>, backed by Meta, is a flexible, dynamic
                                    deep learning framework favored by research and production teams alike.

                                </p>
                                <ul class="style-none text-white">
                                    <li class="pb-1"><i class="fas fa-check"></i>Pythonic, developer-friendly API for
                                        rapid
                                        prototyping
                                    </li>
                                    <li class="pb-1"><i class="fas fa-check"></i>Strong support for neural networks,
                                        computer vision,
                                        and NLP
                                    </li>
                                    <li class="pb-1"><i class="fas fa-check"></i> TorchScript for model deployment
                                    </li>
                                    <li class="pb-1"><i class="fas fa-check"></i>Excellent performance on GPUs and TPUs


                                    </li>
                                </ul>
                                <p class="text-white pt-2">

                                    We use PyTorch to build custom AI applications and accelerate time-to-insight in
                                    industries like healthcare, finance, and retail.
                                </p>
                            </div>
                        </div>

                    </div>
                </div>
            </section>



            <!-- How It Works start -->
            <section class="about-team" id="scikit-learn">
                <div class="container">

                    <div class="row">
                        <div class="col-lg-12 text-center mb-4">
                            <div class="ot-heading">
                                <!-- <span>// How It Works </span> -->
                                <h2 class="main-heading">Scikit-learn</h2>
                                <p>A cornerstone of traditional machine learning,<strong> Scikit-learn </strong> is a
                                    robust library built
                                    for simplicity and speed in model development.
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12">
                            <div class="serv-box-2 s2">
                                <span class="big-number">01</span>
                                <div class="icon-main aiml-img">
                                    <img src="assets/images/icons/technologies/aiml-frameworks/scikit-learn-1.svg"
                                        alt="Scikit-learn" width="60px">
                                </div>
                                <div class="content-box">
                                    <!-- <h5>Wide range of algorithms</h5> -->
                                    <div> Regression, classification, clustering, and more

                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12">
                            <div class="serv-box-2 s2">
                                <span class="big-number">02</span>
                                <div class="icon-main aiml-img">
                                    <img src="assets/images/icons/technologies/aiml-frameworks/scikit-learn-2.svg"
                                        alt="Scikit-learn" width="60px">
                                </div>
                                <div class="content-box">
                                    <!-- <h5>We Shortlist </h5> -->
                                    <div>Perfect for lightweight ML pipelines and prototyping.
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12">
                            <div class="serv-box-2 s2">
                                <span class="big-number">03</span>
                                <div class="icon-main aiml-img">
                                    <img src="assets/images/icons/technologies/aiml-frameworks/scikit-learn-3.svg"
                                        alt="Scikit-learn" width="60px">
                                </div>
                                <div class="content-box">
                                    <!-- <h5>Interview & Select </h5> -->
                                    <div>Easily integrates with NumPy, pandas, and Jupyter
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12">
                            <div class="serv-box-2 s2">
                                <span class="big-number">04</span>
                                <div class="icon-main aiml-img">
                                    <img src="assets/images/icons/technologies/aiml-frameworks/scikit-learn-4.svg"
                                        alt="Scikit-learn" width="60px">
                                </div>
                                <div class="content-box">
                                    <!-- <h5>Onboard & Scale</h5> -->
                                    <div>

                                        Ideal for structured data and feature engineering tasks
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>


        </div>

    </div>
</div>