<div class="royal_preloader">

    <div id="page" class="site">

        <div id="content" class="site-content">
            <div class="page-header flex-middle">
                <div class="container">
                    <div class="inner flex-middle">
                        <h1 class="page-title">Careers</h1>
                        <ul id="breadcrumbs" class="breadcrumbs none-style">
                            <li><a routerLink="/">Home</a></li>
                            <li class="active">Careers</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

  <section class="about-team">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-4 col-md-6 mb-4 mb-lg-0 mt-4">
                        <div class="serv-box s1">
                            <!-- <div class="icon-main"><span class="flaticon-tablet"></span></div> -->
                            <div class="content-box">
                                <h5>Web Developers</h5>
                                <div>
                                    <div class="careers-pos mt-3 mb-3">
                                        <p class="mb-0"><span>Positions : </span> 2</p>
                                        <p class="mb-0"><span>Location : </span> New York</p>
                                        <p class="mb-0"><span>Email : </span> hr&#64;trebecon.com</p>
                                    </div>

                                    <div class="ot-button">
                                        <a class="octf-btn octf-btn-primary" routerLink="/web-developers" (click)="scrollToTop()">Apply Now</a>
                                    </div>

                                    <!-- <div class="ot-button">
                                        <div class="octf-btn octf-btn-primary">
                                         (click)="openPopup()"
                                            <a routerLink="/web-developers">Apply Now</a>
                                        </div>
                                    </div> -->
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 mb-4 mb-lg-0 mt-4">
                        <div class="serv-box s1">
                            <!-- <div class="icon-main"><span class="flaticon-report"></span></div> -->
                            <div class="content-box">
                                <h5>Python Developers</h5>
                                <div>
                                    <div class="careers-pos mt-3 mb-3">
                                        <p class="mb-0"><span>Positions : </span> 3</p>
                                        <p class="mb-0"><span>Location : </span> Chicago, Illinois</p>
                                        <p class="mb-0"><span>Email : </span> hr&#64;trebecon.com</p>
                                    </div>
                                    <!-- <div class="ot-button">
                                        <div class="octf-btn octf-btn-primary" (click)="openPopup()">Apply Now</div>
                                    </div> -->
                                     <div class="ot-button">
                                        <a class="octf-btn octf-btn-primary" routerLink="/python-developers" (click)="scrollToTop()">Apply Now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 mt-4">
                        <div class="serv-box s1 ">
                            <!-- <div class="icon-main"><span class="flaticon-ui"></span></div> -->
                            <div class="content-box">
                                <h5>Mobile Developers</h5>
                                <div>

                                    <div class="careers-pos mt-3 mb-3">
                                        <p class="mb-0"><span>Positions : </span> 2</p>
                                        <p class="mb-0"><span>Location : </span> Los Angeles, California</p>
                                        <p class="mb-0"><span>Email : </span> hr&#64;trebecon.com</p>
                                    </div>

                                    <!-- <div class="ot-button">
                                        <div class="octf-btn octf-btn-primary" (click)="openPopup()">Apply Now</div>
                                    </div> -->
                                     <div class="ot-button">
                                        <a class="octf-btn octf-btn-primary" routerLink="/mobile-developers" (click)="scrollToTop()">Apply Now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 mt-4">
                        <div class="serv-box s1 ">
                            <!-- <div class="icon-main"><span class="flaticon-ui"></span></div> -->
                            <div class="content-box">
                                <h5>UI/UX Developers</h5>
                                <div>

                                    <div class="careers-pos mt-3 mb-3">
                                        <p class="mb-0"><span>Positions : </span> 3</p>
                                        <p class="mb-0"><span>Location : </span> Seattle, Washington</p>
                                        <p class="mb-0"><span>Email : </span> hr&#64;trebecon.com</p>
                                    </div>

                                    <!-- <div class="ot-button">
                                        <div class="octf-btn octf-btn-primary" (click)="openPopup()">Apply Now</div>
                                    </div> -->
                                     <div class="ot-button">
                                        <a class="octf-btn octf-btn-primary" routerLink="/ui-ux-developers" (click)="scrollToTop()">Apply Now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 mt-4">
                        <div class="serv-box s1 ">
                            <!-- <div class="icon-main"><span class="flaticon-ui"></span></div> -->
                            <div class="content-box">
                                <h5>Automation Testers</h5>
                                <div>

                                    <div class="careers-pos mt-3 mb-3">
                                        <p class="mb-0"><span>Positions : </span> 4</p>
                                        <p class="mb-0"><span>Location : </span>Miami, Florida</p>
                                        <p class="mb-0"><span>Email : </span> hr&#64;trebecon.com</p>
                                    </div>

                                    <!-- <div class="ot-button">
                                        <div class="octf-btn octf-btn-primary" (click)="openPopup()">Apply Now</div>
                                    </div> -->
                                      <div class="ot-button">
                                        <a class="octf-btn octf-btn-primary" routerLink="/automation-tester" (click)="scrollToTop()">Apply Now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 mt-4">
                        <div class="serv-box s1 ">
                            <!-- <div class="icon-main"><span class="flaticon-ui"></span></div> -->
                            <div class="content-box">
                                <h5>Cloud Engineers</h5>
                                <div>

                                    <div class="careers-pos mt-3 mb-3">
                                        <p class="mb-0"><span>Positions : </span> 5</p>
                                        <p class="mb-0"><span>Location : </span>Dallas, Texas</p>
                                        <p class="mb-0"><span>Email : </span> hr&#64;trebecon.com</p>
                                    </div>

                                    <!-- <div class="ot-button">
                                        <div class="octf-btn octf-btn-primary" (click)="openPopup()">Apply Now</div>
                                    </div> -->
                                     <div class="ot-button">
                                        <a class="octf-btn octf-btn-primary" routerLink="/cloud-engineers" (click)="scrollToTop()">Apply Now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section>

        <div class="popup-overlay" *ngIf="showPopup">
            <div class="popup-box">
                <div class="modal-header border-0 mb-3" style="padding: 0;">
                    <h5 class="modal-title  " id="careerModalLabel" style="padding: 0;">Apply Now</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closePopup()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="popup-content">
                    <form #contactForm="ngForm" (ngSubmit)="submitApplication()">
                        <div class="form-group">

                            <label for="name" class="d-block">Full Name <span class="text-danger">*</span></label>
                            <input type="text" id="name" name="name" class="d-block width100"
                                [(ngModel)]="formData.name" (input)="clearError('name')" />
                            <span class="text-danger text-xs" *ngIf="formErrors.name">{{formErrors.name}}</span>
                        </div>
                        <div class="form-group">
                            <label for="email " class="d-block"> Email Address <span
                                    class="text-danger">*</span></label>
                            <input type="email" id="email" name="email" class="d-block width100"
                                [(ngModel)]="formData.email" (input)="clearError('email')" />
                            <span class="text-danger text-xs" *ngIf="formErrors.email">{{formErrors.email}}</span>
                        </div>
                        <div class="form-group">

                            <label for="phonenumber" class="d-block"> Phone Number <span
                                    class="text-danger">*</span></label>
                            <input type="number" id="phonenumber" name="email" class="d-block width100"
                                [(ngModel)]="formData.phonenumber" (input)="clearError('phonenumber')" />
                            <span class="text-danger text-xs"
                                *ngIf="formErrors.phonenumber">{{formErrors.phonenumber}}</span>
                        </div>

                        <div class="form-group">

                            <label for="job_title" class="d-block"> Job Title <span class="text-danger">*</span></label>
                            <input type="text" id="job_title" name="email" class="d-block width100"
                                [(ngModel)]="formData.job_title" (input)="clearError('job_title')" />
                            <span class="text-danger text-xs"
                                *ngIf="formErrors.job_title">{{formErrors.job_title}}</span>
                        </div>
                        <div class="form-group">
                            <label>Upload Resume <span class="text-danger">*</span></label>
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="resumeUpload" accept=".pdf,.doc,.docx"
                                    (change)="onFileChange($event)" />
                                <label class="custom-file-label" for="resumeUpload">Choose file </label>
                            </div>
                            <span *ngIf="selectedFile" class="text-info mt-2">
                                {{ selectedFile.name }}
                            </span>
                            <span class="text-danger text-xs" *ngIf="formErrors.resume">{{formErrors.resume}}
                                <br /></span>
                            <span class="text-success text-xs" *ngIf="successMessage">{{successMessage}} <br /></span>
                            <span class="text-danger text-xs" *ngIf="errorMessage">{{errorMessage}} <br /></span>
                        </div>


                        <button type="submit" class="octf-btn octf-btn-primary d-block">Submit Application</button>
                    </form>
                </div>


            </div>
        </div>

        <!-- <section class="about-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-12 text-center">
                        <div class="ot-button">
                            <p> <b class="pb-1">Explore more career opportunities at Trebecon </b>

                                <a href="https://www.dice.com/company-profile/135e25d5-4fa0-4156-b34d-c2df89be5c66?companyname=Trebecon%20LLC"
                                    class="icon-btn">JOB VISIT <span class="arrow">→</span></a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section> -->

    </div>


</div>