<div class="royal_preloader">
    <div id="page" class="site">

        <div id="content" class="site-content">
            <div class="page-header flex-middle">
                <div class="container">
                    <div class="inner flex-middle">
                        <h1 class="page-title">Cloud Platforms</h1>
                        <ul id="breadcrumbs" class="breadcrumbs none-style">
                            <li><a routerLink="/">Home</a></li>
                            <li class="active">Cloud Platforms</li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>


        <section class="section-business">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5">
                        <div class="ot-heading mb-0">
                            <!-- <span>// Foundations of Web Technologies</span> -->
                            <h2>On-Demand Cloud Computing for Modern Businesses
                            </h2>

                        </div>
                    </div>
                    <div class="col-lg-7 align-self-end">
                        <p class="mb-0">Our Cloud platforms provide on-demand computing resources over the internet,
                            enabling users to store data, run applications, and access services without managing
                            physical servers. Major platforms like AWS, Microsoft Azure, and Google Cloud offer scalable
                            infrastructure, security, and tools that support the development, deployment, and management
                            of applications across various industries.

                        </p>
                        <strong> Our cloud capabilities include:
                        </strong>
                    </div>
                </div>
            </div>
        </section>

        <section class="section-clent-h2">
            <div class="container">
                <div class="row mt--290 justify-content-center">
                    <div class="col-lg-4 col-md-6 col-sm-12 mb-4 mb-lg-0">
                        <div class="support-box">
                            <div class="inner-box">
                                <div class="overlay flex-middle">
                                    <span class="number-box">01</span>
                                    <div class="inner">

                                        <p>EC2, Lambda, S3, RDS, SageMaker
                                        </p>
                                        <!-- <a class="btn-details"><i
                                                    class="flaticon-right-arrow-1"></i> LEARN MORE</a> -->
                                    </div>
                                </div>
                                <div class="content-box">
                                    <span class="number-box">01</span>
                                    <h3>AWS


                                    </h3>
                                    <img src="assets/images/technologies/cloud-platforms/aws.webp" alt="Outsoursing">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 mb-4 mb-lg-0">
                        <div class="support-box">
                            <div class="inner-box">
                                <div class="overlay flex-middle">
                                    <span class="number-box">02</span>
                                    <div class="inner">
                                        <p> App Services, Azure Functions, Cosmos DB
                                        </p>
                                        <!-- <a href="web-development.html" class="btn-details"><i
                                                    class="flaticon-right-arrow-1"></i> LEARN MORE</a> -->
                                    </div>
                                </div>
                                <div class="content-box">
                                    <span class="number-box">02</span>
                                    <h3>Microsoft Azure</h3>
                                    <img src="assets/images/technologies/cloud-platforms/microsoft-azure.webp"
                                        alt="Custom Software">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="support-box">
                            <div class="inner-box">
                                <div class="overlay flex-middle">
                                    <span class="number-box">03</span>
                                    <div class="inner">
                                        <p> Compute Engine, BigQuery, AI Platform



                                        </p>
                                        <!-- <a href="mobile-development.html" class="btn-details"><i
                                                    class="flaticon-right-arrow-1"></i> LEARN MORE</a> -->
                                    </div>
                                </div>
                                <div class="content-box">
                                    <span class="number-box">03</span>
                                    <h3>Google Cloud</h3>
                                    <img src="assets/images/technologies/cloud-platforms/google-cloud.webp"
                                        alt="Product Design">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



            </div>
        </section>


        <section class="about-top" id="amazon-web">
            <div class="container">
               
                <div class="row d-flex align-items-center justify-content-between">
                    <div class="col-xl-4">

                        <!-- <h2 class="px-5">Amazon Web Services (AWS)</h2> -->
                        <h2>
                            Amazon Web Services (AWS)
                        </h2>
                        <p class="pt-2">As a market leader in cloud computing, AWS offers unmatched flexibility,
                            scalability, and
                            breadth of services. Trebecon architects and implements AWS-based solutions that power
                            everything from startups to global enterprises.
                        </p>


                    </div>
                    <div class="col-xl-8">
                        <div class="row">
                            <div class="col-xl-6 col-lg-6">
                                <div class="icon-box-s2 s1 i10 active">
                                    <div class="icon-main">
                                        <img src="assets/images/icons/technologies/cloud-platforms/compute.svg"
                                            alt="Microsoft Azure" width="50px" height="50px">
                                    </div>
                                    <div class="content-box">
                                        <h5>Compute</h5>
                                        <p> EC2, Lambda, ECS, EKS
                                        </p>
                                    </div>
                                </div>

                                <div class="icon-box-s2 s1 i10 pr-3">
                                    <div class="icon-main">
                                        <img src="assets/images/icons/technologies/cloud-platforms/storage-databases.svg"
                                            alt="Microsoft Azure" width="50px" height="50px">
                                    </div>
                                    <div class="content-box">
                                        <h5>Storage & Databases</h5>
                                        <p> S3, RDS, DynamoDB, Aurora</p>
                                    </div>
                                </div>
                                <!-- <div class="space-30 d-xl-none"></div> -->
                            </div>

                            <div class="col-xl-6 col-lg-6">
                                <div class="icon-box-s2 s1 i10">
                                    <div class="icon-main">
                                        <img src="assets/images/icons/technologies/cloud-platforms/machine-learning.svg"
                                            alt="Microsoft Azure" width="50px" height="50px">
                                    </div>
                                    <div class="content-box">
                                        <h5>Machine Learning</h5>
                                        <p> SageMaker, Rekognition, Comprehend
                                        </p>

                                    </div>
                                </div>

                                <div class="icon-box-s2 i10 s1">
                                    <div class="icon-main">
                                        <img src="assets/images/icons/technologies/cloud-platforms/security-monitoring.svg"
                                            alt="Microsoft Azure" width="50px" height="50px">
                                    </div>
                                    <div class="content-box">
                                        <h5>Security & Monitoring</h5>
                                        <p> IAM, CloudTrail, GuardDuty
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="col-xl-4 mt-5 mt-lg-0">
                        <div class="devices-img-i10 text-center text-xl-left">
                            <img src="assets/images/frame-37.svg" width="70%">
                        </div>
                    </div> -->
                </div>
            </div>
        </section>

        <section class="about-top" id="microsoft">
            <div class="container">
                <div class="row">
                    <div class="col-xl-8 offset-xl-2 text-center">
                        <h2>Microsoft Azure
                        </h2>
                        <p class="pt-2">For businesses aligned with Microsoft technologies, Azure provides seamless
                            integration,
                            strong enterprise support, and hybrid flexibility. Trebecon deploys Azure solutions that
                            combine scalability with compliance and security.
                        </p>
                        <div class="space-30"></div>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12">
                        <div class="icon-box-s3 i7">
                            <div class="top-box">
                                <div class="icon-main">

                                    <img src="assets/images/icons/technologies/cloud-platforms/compute-containers.svg"
                                        alt="Microsoft Azure" width="80px" height="80px">
                                </div>
                            </div>
                            <h5>Compute & Containers</h5>
                            <p> Azure App Services, Azure Functions, AKS
                            </p>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12">
                        <div class="icon-box-s3 i7">
                            <div class="top-box">
                                <div class="icon-main">
                                    <img src="assets/images/icons/technologies/cloud-platforms/data.svg" alt="Microsoft Azure"
                                        width="80px" height="80px">
                                </div>
                            </div>
                            <h5>Data <br/> Services</h5>
                            <p> Azure SQL, Cosmos DB, Synapse Analytics
                            </p>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12">
                        <div class="icon-box-s3 i7">
                            <div class="top-box">
                                <div class="icon-main">
                                    <img src="assets/images/icons/technologies/cloud-platforms/ai-analytics.svg"
                                        alt="Microsoft Azure" width="80px" height="80px">
                                </div>
                            </div>
                            <h5>AI & <br/> Analytics</h5>
                            <p> Azure Cognitive Services, Machine Learning Studio
                            </p>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12">
                        <div class="icon-box-s3 i7">
                            <div class="top-box">
                                <div class="icon-main">
                                    <img src="assets/images/icons/technologies/cloud-platforms/identity.svg"
                                        alt="Microsoft Azure" width="80px" height="80px">
                                </div>
                            </div>
                            <h5>Identity & <br/> Security</h5>
                            <p> Azure AD, Key Vault, Defender for Cloud</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <section class="about-bottom" id="gcp-platform">
            <div class="container">

                <div class="row">
                    <div class="col-lg-6 align-self-center">

                        <h2>Google Cloud Platform </h2>
                        <p>Known for its data analytics and machine learning prowess, Google Cloud enables
                            innovative, data-driven applications with global reach. Trebecon leverages GCP’s
                            cutting-edge technologies to deliver smarter, faster solutions.
                        </p>
                        <div class="space-5"></div>
                        <ul class="list-style-i10">
                            <li class="pb-1"><i class="fas fa-circle"></i><span>Big Data & Analytics: BigQuery,
                                    Dataflow, Looker
                                </span></li>
                            <li class="pb-1"><i class="fas fa-circle"></i><span>Compute & Storage: Compute Engine, GKE,
                                    Cloud
                                    Storage
                                </span></li>
                            <li class="pb-1"><i class="fas fa-circle"></i><span>AI/ML: Vertex AI, AutoML, Vision AI
                                </span></li>
                            <li class="pb-1"><i class="fas fa-circle"></i><span>DevOps & CI/CD: Cloud Build, Cloud Run,
                                    Cloud
                                    Functions
                                </span></li>
                        </ul>
                        <p>GCP is ideal for AI/ML, scalable analytics, and modern app development, and Trebecon
                            ensures you get the most out of it.
                        </p>

                    </div>
                    <div class="col-lg-6">
                        <!-- <div class="tech-trend-img"> -->
                        <img src="assets/images/technologies/cloud-platforms/cloud-platform.webp" alt="">
                        <!-- </div> -->
                    </div>
                </div>

            </div>
        </section>


    </div>
 

</div>